In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/marcio/Documents/fish_analyzer_final.csv", index_col=0)
import ast
df['tail_coords'] = df['tail_coords'].apply(ast.literal_eval)

In [13]:
df["pen"] = df["tail_coords"].apply(lambda x: tuple(zip(*x))[1][-2])
df["ult"] = df["tail_coords"].apply(lambda x: tuple(zip(*x))[1][-1])

In [14]:
df

,sequence,tail_coords,com,pen,ult
1278,11,"((0, 0), (154, 0), (307, 22), (463, 12), (616,...","(614, 600)",12,35
1279,11,"((0, 0), (154, 0), (309, 0), (462, -22), (594,...","(615, 602)",-22,-104
1280,11,"((0, 0), (155, 0), (306, 38), (461, 46), (616,...","(617, 604)",46,32
1281,11,"((0, 0), (155, 0), (306, 32), (458, 57), (605,...","(619, 606)",57,105
1282,11,"((0, 0), (154, 0), (309, 0), (460, -35), (615,...","(622, 608)",-35,-34
...,...,...,...,...,...
1896,305,"((0, 0), (155, 0), (310, 18), (463, 48), (616,...","(722, 539)",48,74
1897,305,"((0, 0), (155, 0), (308, 31), (463, 25), (608,...","(719, 536)",25,-33
1898,305,"((0, 0), (155, 0), (308, 31), (458, 74), (611,...","(716, 533)",74,44
1899,305,"((0, 0), (156, 0), (311, 16), (463, 45), (606,...","(713, 530)",45,108
1900,305,"((0, 0), (155, 0), (310, 0), (463, -34), (618,...","(710, 527)",-34,-41

In [15]:
df["position"] = np.NaN

In [16]:
df["position"] = df.apply(lambda x: "up" if x["ult"] > x["pen"] else x["position"], axis=1)
df["position"] = df.apply(lambda x: "down" if x["ult"] < x["pen"] else x["position"], axis=1)

In [17]:
df

,sequence,tail_coords,com,pen,ult,position
1278,11,"((0, 0), (154, 0), (307, 22), (463, 12), (616,...","(614, 600)",12,35,up
1279,11,"((0, 0), (154, 0), (309, 0), (462, -22), (594,...","(615, 602)",-22,-104,down
1280,11,"((0, 0), (155, 0), (306, 38), (461, 46), (616,...","(617, 604)",46,32,down
1281,11,"((0, 0), (155, 0), (306, 32), (458, 57), (605,...","(619, 606)",57,105,up
1282,11,"((0, 0), (154, 0), (309, 0), (460, -35), (615,...","(622, 608)",-35,-34,up
...,...,...,...,...,...,...
1896,305,"((0, 0), (155, 0), (310, 18), (463, 48), (616,...","(722, 539)",48,74,up
1897,305,"((0, 0), (155, 0), (308, 31), (463, 25), (608,...","(719, 536)",25,-33,down
1898,305,"((0, 0), (155, 0), (308, 31), (458, 74), (611,...","(716, 533)",74,44,down
1899,305,"((0, 0), (156, 0), (311, 16), (463, 45), (606,...","(713, 530)",45,108,up
1900,305,"((0, 0), (155, 0), (310, 0), (463, -34), (618,...","(710, 527)",-34,-41,down

In [18]:
df["beating"] = np.NAN

sequence_number = 1
for i in range(0, len(df)):
    now = df.iloc[i]["position"]    
    if i == 0:        
        previous = now
        df.iloc[i, 6] = sequence_number      
        continue
    if now != previous:
        sequence_number = sequence_number + 1        
        df.iloc[i, 6] = sequence_number
        previous = now
        
    else:
        df.iloc[i, 6] = sequence_number
        previous = now

In [19]:
df.head(30)

,sequence,tail_coords,com,pen,ult,position,beating
1278,11,"((0, 0), (154, 0), (307, 22), (463, 12), (616,...","(614, 600)",12,35,up,1.0
1279,11,"((0, 0), (154, 0), (309, 0), (462, -22), (594,...","(615, 602)",-22,-104,down,2.0
1280,11,"((0, 0), (155, 0), (306, 38), (461, 46), (616,...","(617, 604)",46,32,down,2.0
1281,11,"((0, 0), (155, 0), (306, 32), (458, 57), (605,...","(619, 606)",57,105,up,3.0
1282,11,"((0, 0), (154, 0), (309, 0), (460, -35), (615,...","(622, 608)",-35,-34,up,3.0
1283,11,"((0, 0), (154, 0), (308, 0), (459, -32), (602,...","(624, 610)",-32,-93,down,4.0
1284,11,"((0, 0), (154, 0), (308, 26), (463, 34), (618,...","(627, 613)",34,22,down,4.0
1285,11,"((0, 0), (154, 0), (305, 32), (459, 47), (603,...","(629, 616)",47,105,up,5.0
1286,11,"((0, 0), (155, 0), (310, 0), (464, -10), (618,...","(632, 618)",-10,-21,down,6.0
1287,11,"((0, 0), (154, 0), (307, 22), (462, 22), (603,...","(635, 621)",22,-43,down,6.0
1288,11,"((0, 0), (155, 0), (308, 22), (462, 32), (618,...","(638, 623)",32,33,up,7.0
1289,11,"((0, 0), (154, 0), (309, 10), (465, 21), (608,...","(641, 626)",21,80,up,7.0
1290,11,"((0, 0), (156, 0), (311, 12), (464, -15), (619...","(644, 629)",-15,-23,down,8.0
1291,11,"((0, 0), (154, 0), (306, 35), (461, 55), (615,...","(647, 633)",55,32,down,8.0
1292,11,"((0, 0), (155, 0), (309, 9), (462, 33), (611, ...","(650, 636)",33,76,up,9.0
1293,11,"((0, 0), (154, 0), (309, 10), (464, 10), (608,...","(653, 639)",10,70,up,9.0
1294,11,"((0, 0), (154, 0), (306, 30), (459, 13), (610,...","(655, 641)",13,41,up,9.0
1295,11,"((0, 0), (154, 0), (309, 22), (461, 57), (616,...","(658, 646)",57,41,down,10.0
1296,11,"((0, 0), (154, 0), (308, 22), (462, 32), (610,...","(660, 649)",32,82,up,11.0
1297,11,"((0, 0), (156, 0), (310, 22), (465, 11), (619,...","(663, 652)",11,33,up,11.0
1298,11,"((0, 0), (154, 0), (308, 25), (463, 22), (615,...","(665, 656)",22,-9,down,12.0
1299,11,"((0, 0), (154, 0), (306, 35), (454, 81), (607,...","(666, 659)",81,109,up,13.0
1300,11,"((0, 0), (154, 0), (308, 19), (462, 31), (593,...","(669, 663)",31,115,up,13.0
1301,11,"((0, 0), (155, 0), (309, 23), (464, 19), (618,...","(671, 667)",19,7,down,14.0
1309,13,"((0, 0), (155, 0), (310, 11), (464, 35), (619,...","(693, 702)",35,31,down,14.0
1310,13,"((0, 0), (155, 0), (310, 11), (466, 22), (619,...","(696, 706)",22,45,up,15.0
1311,13,"((0, 0), (154, 0), (308, 21), (463, 41), (612,...","(698, 709)",41,88,up,15.0
1312,13,"((0, 0), (155, 0), (309, 25), (465, 30), (618,...","(700, 712)",30,54,up,15.0
1313,13,"((0, 0), (154, 0), (307, 29), (463, 39), (616,...","(701, 714)",39,69,up,15.0
1314,13,"((0, 0), (155, 0), (310, 11), (465, 21), (620,...","(703, 717)",21,22,up,15.0

In [20]:
df.head(3)
#sub = df.loc[df["sequence"] == 11]
df.loc[df["sequence"] == 11].iloc[0, 7] = 1000
print(df.head(3))

IndexError: iloc cannot enlarge its target object

In [23]:
df["cycle"] = np.NAN   

sequnces_list = df.sequence.unique()
for n in sequnces_list:
    print(n)
    the_idxs = df.loc[df["sequence"] == n].index
    print(the_idxs)
    step = 0
    cycle_number = 1   
    for i in the_idxs:
        now = df.loc[i, "position"]
        print("the now")
        print(now)   
        if i == the_idxs[0]:        
            previous = now
            df.loc[i, "cycle"] = cycle_number            
            continue
        if (now == previous):        
            df.loc[i, "cycle"] = cycle_number
            previous = now
        else:
            step=step+1
            if step==1:
                df.loc[i, "cycle"] = cycle_number
                previous = now
            else:
                cycle_number=cycle_number+1            
                df.loc[i, "cycle"] = cycle_number
                previous = now
                step=0

11
Int64Index([1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288,
            1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299,
            1300, 1301],
           dtype='int64')
the now
up
the now
down
the now
down
the now
up
the now
up
the now
down
the now
down
the now
up
the now
down
the now
down
the now
up
the now
up
the now
down
the now
down
the now
up
the now
up
the now
up
the now
down
the now
up
the now
up
the now
down
the now
up
the now
up
the now
down
13
Int64Index([1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316], dtype='int64')
the now
down
the now
up
the now
up
the now
up
the now
up
the now
up
the now
up
the now
up
114
Int64Index([1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459], dtype='int64')
the now
down
the now
down
the now
up
the now
up
the now
down
the now
up
the now
up
the now
down
the now
up
the now
down
115
Int64Index([1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471,
            1472, 1473, 1474, 1475, 1476],
           dtype='int64')
the now
down
the now
up
the now
nan
the now
up
the now
down
the now
up
the now
up
the now
down
the now
down
the now
up
the now
up
the now
up
the now
down
the now
down
the now
up
the now
up
221
Int64Index([1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644], dtype='int64')
the now
up
the now
down
the now
nan
the now
up
the now
down
the now
down
the now
down
the now
nan
the now
up
224
Int64Index([1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663,
            1664, 1665, 1666],
           dtype='int64')
the now
down
the now
up
the now
down
the now
up
the now
up
the now
down
the now
up
the now
down
the now
down
the now
up
the now
down
the now
down
the now
up
the now
up
225
Int64Index([1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678], dtype='int64')
the now
up
the now
up
the now
down
the now
up
the now
up
the now
down
the now
down
the now
up
the now
up
the now
down
the now
up
230
Int64Index([1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695,
            1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703],
           dtype='int64')
the now
up
the now
up
the now
down
the now
up
the now
up
the now
down
the now
up
the now
up
the now
down
the now
down
the now
up
the now
up
the now
down
the now
down
the now
down
the now
down
the now
up
the now
up
the now
down
259
Int64Index([1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754,
            1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765],
           dtype='int64')
the now
down
the now
down
the now
down
the now
up
the now
down
the now
down
the now
down
the now
up
the now
nan
the now
down
the now
down
the now
nan
the now
down
the now
down
the now
down
the now
up
the now
down
the now
down
the now
down
the now
nan
the now
up
the now
down
274
Int64Index([1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809], dtype='int64')
the now
nan
the now
up
the now
up
the now
down
the now
down
the now
down
the now
up
the now
down
278
Int64Index([1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829], dtype='int64')
the now
down
the now
up
the now
up
the now
down
the now
down
the now
up
the now
up
the now
down
the now
down
304
Int64Index([1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887], dtype='int64')
the now
up
the now
down
the now
down
the now
up
the now
up
the now
down
the now
down
the now
up
305
Int64Index([1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899,
            1900],
           dtype='int64')
the now
up
the now
up
the now
down
the now
up
the now
up
the now
down
the now
up
the now
up
the now
down
the now
down
the now
up
the now
down

In [25]:
df.head(30)

,sequence,tail_coords,com,pen,ult,position,beating,cycle
1278,11,"((0, 0), (154, 0), (307, 22), (463, 12), (616,...","(614, 600)",12,35,up,1.0,1.0
1279,11,"((0, 0), (154, 0), (309, 0), (462, -22), (594,...","(615, 602)",-22,-104,down,2.0,1.0
1280,11,"((0, 0), (155, 0), (306, 38), (461, 46), (616,...","(617, 604)",46,32,down,2.0,1.0
1281,11,"((0, 0), (155, 0), (306, 32), (458, 57), (605,...","(619, 606)",57,105,up,3.0,2.0
1282,11,"((0, 0), (154, 0), (309, 0), (460, -35), (615,...","(622, 608)",-35,-34,up,3.0,2.0
1283,11,"((0, 0), (154, 0), (308, 0), (459, -32), (602,...","(624, 610)",-32,-93,down,4.0,2.0
1284,11,"((0, 0), (154, 0), (308, 26), (463, 34), (618,...","(627, 613)",34,22,down,4.0,2.0
1285,11,"((0, 0), (154, 0), (305, 32), (459, 47), (603,...","(629, 616)",47,105,up,5.0,3.0
1286,11,"((0, 0), (155, 0), (310, 0), (464, -10), (618,...","(632, 618)",-10,-21,down,6.0,3.0
1287,11,"((0, 0), (154, 0), (307, 22), (462, 22), (603,...","(635, 621)",22,-43,down,6.0,3.0
1288,11,"((0, 0), (155, 0), (308, 22), (462, 32), (618,...","(638, 623)",32,33,up,7.0,4.0
1289,11,"((0, 0), (154, 0), (309, 10), (465, 21), (608,...","(641, 626)",21,80,up,7.0,4.0
1290,11,"((0, 0), (156, 0), (311, 12), (464, -15), (619...","(644, 629)",-15,-23,down,8.0,4.0
1291,11,"((0, 0), (154, 0), (306, 35), (461, 55), (615,...","(647, 633)",55,32,down,8.0,4.0
1292,11,"((0, 0), (155, 0), (309, 9), (462, 33), (611, ...","(650, 636)",33,76,up,9.0,5.0
1293,11,"((0, 0), (154, 0), (309, 10), (464, 10), (608,...","(653, 639)",10,70,up,9.0,5.0
1294,11,"((0, 0), (154, 0), (306, 30), (459, 13), (610,...","(655, 641)",13,41,up,9.0,5.0
1295,11,"((0, 0), (154, 0), (309, 22), (461, 57), (616,...","(658, 646)",57,41,down,10.0,5.0
1296,11,"((0, 0), (154, 0), (308, 22), (462, 32), (610,...","(660, 649)",32,82,up,11.0,6.0
1297,11,"((0, 0), (156, 0), (310, 22), (465, 11), (619,...","(663, 652)",11,33,up,11.0,6.0
1298,11,"((0, 0), (154, 0), (308, 25), (463, 22), (615,...","(665, 656)",22,-9,down,12.0,6.0
1299,11,"((0, 0), (154, 0), (306, 35), (454, 81), (607,...","(666, 659)",81,109,up,13.0,7.0
1300,11,"((0, 0), (154, 0), (308, 19), (462, 31), (593,...","(669, 663)",31,115,up,13.0,7.0
1301,11,"((0, 0), (155, 0), (309, 23), (464, 19), (618,...","(671, 667)",19,7,down,14.0,7.0
1309,13,"((0, 0), (155, 0), (310, 11), (464, 35), (619,...","(693, 702)",35,31,down,14.0,1.0
1310,13,"((0, 0), (155, 0), (310, 11), (466, 22), (619,...","(696, 706)",22,45,up,15.0,1.0
1311,13,"((0, 0), (154, 0), (308, 21), (463, 41), (612,...","(698, 709)",41,88,up,15.0,1.0
1312,13,"((0, 0), (155, 0), (309, 25), (465, 30), (618,...","(700, 712)",30,54,up,15.0,1.0
1313,13,"((0, 0), (154, 0), (307, 29), (463, 39), (616,...","(701, 714)",39,69,up,15.0,1.0
1314,13,"((0, 0), (155, 0), (310, 11), (465, 21), (620,...","(703, 717)",21,22,up,15.0,1.0

In [31]:
df_counting = df.groupby("sequence")["cycle"].unique()
df_counting

sequence
11     [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]
13                                   [1.0]
114                   [1.0, 2.0, 3.0, 4.0]
115              [1.0, 2.0, 3.0, 4.0, 5.0]
221                   [1.0, 2.0, 3.0, 4.0]
224              [1.0, 2.0, 3.0, 4.0, 5.0]
225                   [1.0, 2.0, 3.0, 4.0]
230              [1.0, 2.0, 3.0, 4.0, 5.0]
259    [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]
274                        [1.0, 2.0, 3.0]
278                        [1.0, 2.0, 3.0]
304                        [1.0, 2.0, 3.0]
305                   [1.0, 2.0, 3.0, 4.0]
Name: cycle, dtype: object

In [ ]:
df_counting["nob"] = np.NaN
df_counting["nob"] = df_counting["beating"].apply(lambda x: len(x))
df_counting

    sequence                                            beating  nob
0         11  [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...   14
1         13                                       [14.0, 15.0]    2
2        114         [16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0]    7
3        115  [22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29....   10
4        221         [31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0]    7
5        224  [38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45....   10
6        225         [47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0]    7
7        230  [53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60....   10
8        259  [62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69....   13
9        274                     [75.0, 76.0, 77.0, 78.0, 79.0]    5
10       278                     [79.0, 80.0, 81.0, 82.0, 83.0]    5
11       304                     [84.0, 85.0, 86.0, 87.0, 88.0]    5
12       305   [88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0]    8

In [ ]:
df_nof = df.groupby("sequence")["beating"].count().reset_index()
df_nof

    sequence  beating
0         11       24
1         13        8
2        114       10
3        115       16
4        221        9
5        224       14
6        225       11
7        230       19
8        259       22
9        274        8
10       278        9
11       304        8
12       305       12

In [ ]:
df_counting["nof"] = df_nof["beating"]

In [ ]:
df_counting

    sequence                                            beating  nob  nof
0         11  [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...   14   24
1         13                                       [14.0, 15.0]    2    8
2        114         [16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0]    7   10
3        115  [22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29....   10   16
4        221         [31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0]    7    9
5        224  [38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45....   10   14
6        225         [47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0]    7   11
7        230  [53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60....   10   19
8        259  [62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69....   13   22
9        274                     [75.0, 76.0, 77.0, 78.0, 79.0]    5    8
10       278                     [79.0, 80.0, 81.0, 82.0, 83.0]    5    9
11       304                     [84.0, 85.0, 86.0, 87.0, 88.0]    5    8
12       305   [88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0]    8   12

In [ ]:
df_counting["bpf"] = df_counting["nob"]/df_counting["nof"]
df_counting

,sequence,beating,nob,nof,bpf
0,11,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",14,24,0.583333
1,13,"[14.0, 15.0]",2,8,0.250000
2,114,"[16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0]",7,10,0.700000
3,115,"[22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29....",10,16,0.625000
4,221,"[31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0]",7,9,0.777778
5,224,"[38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45....",10,14,0.714286
6,225,"[47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0]",7,11,0.636364
7,230,"[53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60....",10,19,0.526316
8,259,"[62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69....",13,22,0.590909
9,274,"[75.0, 76.0, 77.0, 78.0, 79.0]",5,8,0.625000
10,278,"[79.0, 80.0, 81.0, 82.0, 83.0]",5,9,0.555556
11,304,"[84.0, 85.0, 86.0, 87.0, 88.0]",5,8,0.625000
12,305,"[88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0]",8,12,0.666667