In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/marcio/Documents/results_Ian/20191121_1454_iCab_L_C.avi.csv")
df_filtered = df.loc[(df["quadrant"] == 1) & (df["fish_id"] == '1')]
df_filtered

,frame_number,length_of_fish,center_of_mass,fish_tail,fish_head,quadrant,fish_area,fish_id,tail_points,quad_coord
481,1261,14.142136,"(585, 582)","(565, 556)","(595, 592)",1,324.5,1,"[(588, 590), (581, 584), (573, 578), (565, 571...","(440, 426, 408, 444)"
489,1262,14.212670,"(586, 583)","(565, 556)","(595, 594)",1,330.5,1,"[(588, 591), (581, 584), (573, 579), (565, 571...","(440, 426, 408, 444)"
497,1263,14.212670,"(587, 584)","(568, 557)","(596, 595)",1,326.5,1,"[(589, 592), (581, 585), (573, 579), (565, 573...","(440, 426, 408, 444)"
505,1264,14.422205,"(589, 584)","(569, 558)","(597, 596)",1,328.0,1,"[(590, 594), (582, 586), (574, 580), (566, 573...","(440, 426, 408, 444)"
513,1265,13.453624,"(590, 586)","(570, 563)","(600, 595)",1,321.0,1,"[(590, 595), (584, 588), (577, 582), (571, 576...","(440, 426, 408, 444)"
...,...,...,...,...,...,...,...,...,...,...
4234,1737,15.652476,"(519, 828)","(488, 819)","(533, 835)",1,304.0,1,"[(832, 528), (828, 518), (824, 508), (822, 498...","(440, 426, 408, 444)"
4240,1738,14.317821,"(524, 830)","(493, 822)","(537, 836)",1,294.0,1,"[(834, 533), (829, 523), (825, 513), (822, 503...","(440, 426, 408, 444)"
4246,1739,14.317821,"(528, 831)","(498, 820)","(541, 837)",1,295.5,1,"[(834, 534), (830, 525), (825, 516), (821, 507...","(440, 426, 408, 444)"
4252,1740,13.000000,"(533, 832)","(506, 823)","(545, 837)",1,281.5,1,"[(835, 542), (832, 533), (829, 524), (827, 515...","(440, 426, 408, 444)"
4258,1741,14.560220,"(537, 832)","(507, 826)","(551, 836)",1,295.0,1,"[(833, 543), (831, 534), (829, 525), (829, 516...","(440, 426, 408, 444)"

In [3]:
df_filtered["angle"] = np.NAN

<ipython-input-3-397ea0337ee9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["angle"] = np.NAN

In [4]:
import ast
df_filtered['center_of_mass'] = df_filtered['center_of_mass'].apply(ast.literal_eval)
df_filtered['fish_tail'] = df_filtered['fish_tail'].apply(ast.literal_eval)
df_filtered['fish_head'] = df_filtered['fish_head'].apply(ast.literal_eval)
df_filtered['tail_points'] = df_filtered['tail_points'].apply(ast.literal_eval)
df_filtered['quad_coord'] = df_filtered['quad_coord'].apply(ast.literal_eval)

<ipython-input-4-424ee8e5dc78>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['center_of_mass'] = df_filtered['center_of_mass'].apply(ast.literal_eval)
<ipython-input-4-424ee8e5dc78>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['fish_tail'] = df_filtered['fish_tail'].apply(ast.literal_eval)
<ipython-input-4-424ee8e5dc78>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['fish_head'] = df_filtered['fish_head'].apply(ast.literal_eval)
<ipython-input-4-424ee8e5dc78>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['tail_points'] = df_filtered['tail_points'].apply(ast.literal_eval)
<ipython-input-4-424ee8e5dc78>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['quad_coord'] = df_filtered['quad_coord'].apply(ast.literal_eval)

In [5]:
df_filtered

,frame_number,length_of_fish,center_of_mass,fish_tail,fish_head,quadrant,fish_area,fish_id,tail_points,quad_coord,angle
481,1261,14.142136,"(585, 582)","(565, 556)","(595, 592)",1,324.5,1,"[(588, 590), (581, 584), (573, 578), (565, 571...","(440, 426, 408, 444)",NaN
489,1262,14.212670,"(586, 583)","(565, 556)","(595, 594)",1,330.5,1,"[(588, 591), (581, 584), (573, 579), (565, 571...","(440, 426, 408, 444)",NaN
497,1263,14.212670,"(587, 584)","(568, 557)","(596, 595)",1,326.5,1,"[(589, 592), (581, 585), (573, 579), (565, 573...","(440, 426, 408, 444)",NaN
505,1264,14.422205,"(589, 584)","(569, 558)","(597, 596)",1,328.0,1,"[(590, 594), (582, 586), (574, 580), (566, 573...","(440, 426, 408, 444)",NaN
513,1265,13.453624,"(590, 586)","(570, 563)","(600, 595)",1,321.0,1,"[(590, 595), (584, 588), (577, 582), (571, 576...","(440, 426, 408, 444)",NaN
...,...,...,...,...,...,...,...,...,...,...,...
4234,1737,15.652476,"(519, 828)","(488, 819)","(533, 835)",1,304.0,1,"[(832, 528), (828, 518), (824, 508), (822, 498...","(440, 426, 408, 444)",NaN
4240,1738,14.317821,"(524, 830)","(493, 822)","(537, 836)",1,294.0,1,"[(834, 533), (829, 523), (825, 513), (822, 503...","(440, 426, 408, 444)",NaN
4246,1739,14.317821,"(528, 831)","(498, 820)","(541, 837)",1,295.5,1,"[(834, 534), (830, 525), (825, 516), (821, 507...","(440, 426, 408, 444)",NaN
4252,1740,13.000000,"(533, 832)","(506, 823)","(545, 837)",1,281.5,1,"[(835, 542), (832, 533), (829, 524), (827, 515...","(440, 426, 408, 444)",NaN
4258,1741,14.560220,"(537, 832)","(507, 826)","(551, 836)",1,295.0,1,"[(833, 543), (831, 534), (829, 525), (829, 516...","(440, 426, 408, 444)",NaN

In [6]:
df_filtered["angle"] = df_filtered.apply(lambda x: (x.fish_head, x.tail_points[1]), axis=1)

<ipython-input-6-aabf84dd1cf8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["angle"] = df_filtered.apply(lambda x: (x.fish_head, x.tail_points[1]), axis=1)

In [7]:
df_filtered.head(1)

,frame_number,length_of_fish,center_of_mass,fish_tail,fish_head,quadrant,fish_area,fish_id,tail_points,quad_coord,angle
481,1261,14.142136,"(585, 582)","(565, 556)","(595, 592)",1,324.5,1,"[(588, 590), (581, 584), (573, 578), (565, 571...","(440, 426, 408, 444)","((595, 592), (581, 584))"

In [8]:
df_filtered.head(1)

,frame_number,length_of_fish,center_of_mass,fish_tail,fish_head,quadrant,fish_area,fish_id,tail_points,quad_coord,angle
481,1261,14.142136,"(585, 582)","(565, 556)","(595, 592)",1,324.5,1,"[(588, 590), (581, 584), (573, 578), (565, 571...","(440, 426, 408, 444)","((595, 592), (581, 584))"

In [9]:
df_filtered["rotation"] = np.NAN

<ipython-input-9-a640a3f7bfe1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["rotation"] = np.NAN

In [10]:
import math

def calc_rotation(angle):
    x = angle[0][0] - angle[1][1]   #must invert, as squeleton points is y,x
    print("IIIIIIIIII")
    print(x)
    y = angle[0][1] - angle[1][0]   #must invert, as squeleton points is y,x
    print(y)  
    dual_degree = math.atan2(y*-1, x) * 180 / np.pi
    print(dual_degree)
                  
      
    print(dual_degree)
    print("FFFFFFFFFFF")

    return dual_degree


df_filtered["rotation"] = df_filtered["angle"].apply(calc_rotation)

IIIIIIIIII
11
11
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
11
13
-49.76364169072618
-49.76364169072618
FFFFFFFFFFF
IIIIIIIIII
11
14
-51.84277341263093
-51.84277341263093
FFFFFFFFFFF
IIIIIIIIII
11
14
-51.84277341263093
-51.84277341263093
FFFFFFFFFFF
IIIIIIIIII
12
11
-42.51044707800085
-42.51044707800085
FFFFFFFFFFF
IIIIIIIIII
12
12
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
12
12
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
12
12
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
14
12
-40.60129464500447
-40.60129464500447
FFFFFFFFFFF
IIIIIIIIII
13
12
-42.70938995736147
-42.70938995736147
FFFFFFFFFFF
IIIIIIIIII
14
14
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
13
12
-42.70938995736147
-42.70938995736147
FFFFFFFFFFF
IIIIIIIIII
13
14
-47.12109639666145
-47.12109639666145
FFFFFFFFFFF
IIIIIIIIII
14
12
-40.60129464500447
-40.60129464500447
FFFFFFFFFFF
IIIIIIIIII
15
12
-38.65980825409009
-38.65980825409009
FFFFFFFFFFF
IIIIIIIIII
15
13
-40.91438322002512
-40.91438322002512
FFFFFFFFFFF
IIIIIIIIII
15
13
-40.91438322002512
-40.91438322002512
FFFFFFFFFFF
IIIIIIIIII
14
11
-38.15722658736906
-38.15722658736906
FFFFFFFFFFF
IIIIIIIIII
15
14
-43.02506598911803
-43.02506598911803
FFFFFFFFFFF
IIIIIIIIII
14
13
-42.87890360333855
-42.87890360333855
FFFFFFFFFFF
IIIIIIIIII
13
12
-42.70938995736147
-42.70938995736147
FFFFFFFFFFF
IIIIIIIIII
12
11
-42.51044707800085
-42.51044707800085
FFFFFFFFFFF
IIIIIIIIII
14
14
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
15
15
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
11
11
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
11
10
-42.27368900609373
-42.27368900609373
FFFFFFFFFFF
IIIIIIIIII
13
14
-47.12109639666145
-47.12109639666145
FFFFFFFFFFF
IIIIIIIIII
12
12
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
14
14
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
14
15
-46.97493401088198
-46.97493401088198
FFFFFFFFFFF
IIIIIIIIII
13
14
-47.12109639666145
-47.12109639666145
FFFFFFFFFFF
IIIIIIIIII
11
12
-47.48955292199916
-47.48955292199916
FFFFFFFFFFF
IIIIIIIIII
13
14
-47.12109639666145
-47.12109639666145
FFFFFFFFFFF
IIIIIIIIII
14
14
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
14
16
-48.81407483429036
-48.81407483429036
FFFFFFFFFFF
IIIIIIIIII
12
14
-49.39870535499554
-49.39870535499554
FFFFFFFFFFF
IIIIIIIIII
11
12
-47.48955292199916
-47.48955292199916
FFFFFFFFFFF
IIIIIIIIII
12
14
-49.39870535499554
-49.39870535499554
FFFFFFFFFFF
IIIIIIIIII
13
16
-50.9061411137705
-50.9061411137705
FFFFFFFFFFF
IIIIIIIIII
10
13
-52.43140797117251
-52.43140797117251
FFFFFFFFFFF
IIIIIIIIII
11
12
-47.48955292199916
-47.48955292199916
FFFFFFFFFFF
IIIIIIIIII
11
16
-55.49147701233159
-55.49147701233159
FFFFFFFFFFF
IIIIIIIIII
12
15
-51.34019174590991
-51.34019174590991
FFFFFFFFFFF
IIIIIIIIII
11
14
-51.84277341263093
-51.84277341263093
FFFFFFFFFFF
IIIIIIIIII
10
13
-52.43140797117251
-52.43140797117251
FFFFFFFFFFF
IIIIIIIIII
11
14
-51.84277341263093
-51.84277341263093
FFFFFFFFFFF
IIIIIIIIII
10
13
-52.43140797117251
-52.43140797117251
FFFFFFFFFFF
IIIIIIIIII
12
13
-47.290610042638534
-47.290610042638534
FFFFFFFFFFF
IIIIIIIIII
11
13
-49.76364169072618
-49.76364169072618
FFFFFFFFFFF
IIIIIIIIII
12
13
-47.290610042638534
-47.290610042638534
FFFFFFFFFFF
IIIIIIIIII
12
14
-49.39870535499554
-49.39870535499554
FFFFFFFFFFF
IIIIIIIIII
13
15
-49.08561677997488
-49.08561677997488
FFFFFFFFFFF
IIIIIIIIII
11
12
-47.48955292199916
-47.48955292199916
FFFFFFFFFFF
IIIIIIIIII
12
15
-51.34019174590991
-51.34019174590991
FFFFFFFFFFF
IIIIIIIIII
10
11
-47.72631099390627
-47.72631099390627
FFFFFFFFFFF
IIIIIIIIII
12
14
-49.39870535499554
-49.39870535499554
FFFFFFFFFFF
IIIIIIIIII
12
13
-47.290610042638534
-47.290610042638534
FFFFFFFFFFF
IIIIIIIIII
12
12
-45.0
-45.0
FFFFFFFFFFF
IIIIIIIIII
13
14
-47.12109639666145
-47.12109639666145
FFFFFFFFFFF
IIIIIIIIII
10
13
-52.43140797117251
-52.43140797117251
FFFFFFFFFFF
IIIIIIIIII
12
16
-53.13010235415598
-53.13010235415598
FFFFFFFFFFF
IIIIIIIIII
12
17
-54.78240703180728
-54.78240703180728
FFFFFFFFFFF
IIIIIIIIII
11
17
-57.094757077012105
-57.094757077012105
FFFFFFFFFFF
IIIIIIIIII
12
17
-54.78240703180728
-54.78240703180728
FFFFFFFFFFF
IIIIIIIIII
10
13
-52.43140797117251
-52.43140797117251
FFFFFFFFFFF
IIIIIIIIII
13
17
-52.59464336859145
-52.59464336859145
FFFFFFFFFFF
IIIIIIIIII
11
12
-47.48955292199916
-47.48955292199916
FFFFFFFFFFF
IIIIIIIIII
11
14
-51.84277341263093
-51.84277341263093
FFFFFFFFFFF
IIIIIIIIII
12
15
-51.34019174590991
-51.34019174590991
FFFFFFFFFFF
IIIIIIIIII
11
13
-49.76364169072618
-49.76364169072618
FFFFFFFFFFF
IIIIIIIIII
13
12
-42.70938995736147
-42.70938995736147
FFFFFFFFFFF
IIIIIIIIII
16
14
-41.185925165709655
-41.185925165709655
FFFFFFFFFFF
IIIIIIIIII
14
12
-40.60129464500447
-40.60129464500447
FFFFFFFFFFF
IIIIIIIIII
14
13
-42.87890360333855
-42.87890360333855
FFFFFFFFFFF
IIIIIIIIII
15
14
-43.02506598911803
-43.02506598911803
FFFFFFFFFFF
IIIIIIIIII
12
11
-42.51044707800085
-42.51044707800085
FFFFFFFFFFF
IIIIIIIIII
15
12
-38.65980825409009
-38.65980825409009
FFFFFFFFFFF
IIIIIIIIII
13
10
-37.568592028827496
-37.568592028827496
FFFFFFFFFFF
IIIIIIIIII
14
10
-35.53767779197438
-35.53767779197438
FFFFFFFFFFF
IIIIIIIIII
12
10
-39.80557109226519
-39.80557109226519
FFFFFFFFFFF
IIIIIIIIII
14
11
-38.15722658736906
-38.15722658736906
FFFFFFFFFFF
IIIIIIIIII
14
10
-35.53767779197438
-35.53767779197438
FFFFFFFFFFF
IIIIIIIIII
16
11
-34.5085229876684
-34.5085229876684
FFFFFFFFFFF
IIIIIIIIII
14
10
-35.53767779197438
-35.53767779197438
FFFFFFFFFFF
IIIIIIIIII
15
11
-36.25383773744479
-36.25383773744479
FFFFFFFFFFF
IIIIIIIIII
14
6
-23.19859051364819
-23.19859051364819
FFFFFFFFFFF
IIIIIIIIII
17
3
-10.007979801441337
-10.007979801441337
FFFFFFFFFFF
IIIIIIIIII
14
2
-8.13010235415598
-8.13010235415598
FFFFFFFFFFF
IIIIIIIIII
20
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
17
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
16
1
-3.5763343749973515
-3.5763343749973515
FFFFFFFFFFF
IIIIIIIIII
20
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
17
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
15
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
17
-1
3.3664606634298013
3.3664606634298013
FFFFFFFFFFF
IIIIIIIIII
16
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
15
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
20
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
18
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
14
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
17
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
18
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
18
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
19
1
-3.0127875041833403
-3.0127875041833403
FFFFFFFFFFF
IIIIIIIIII
17
1
-3.3664606634298013
-3.3664606634298013
FFFFFFFFFFF
IIIIIIIIII
14
2
-8.13010235415598
-8.13010235415598
FFFFFFFFFFF
IIIIIIIIII
17
2
-6.709836807756933
-6.709836807756933
FFFFFFFFFFF
IIIIIIIIII
18
1
-3.179830119864234
-3.179830119864234
FFFFFFFFFFF
IIIIIIIIII
18
1
-3.179830119864234
-3.179830119864234
FFFFFFFFFFF
IIIIIIIIII
18
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
16
1
-3.5763343749973515
-3.5763343749973515
FFFFFFFFFFF
IIIIIIIIII
19
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
16
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
20
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
17
-1
3.3664606634298013
3.3664606634298013
FFFFFFFFFFF
IIIIIIIIII
18
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
15
1
-3.8140748342903548
-3.8140748342903548
FFFFFFFFFFF
IIIIIIIIII
16
0
0.0
0.0
FFFFFFFFFFF
IIIIIIIIII
20
-1
2.8624052261117474
2.8624052261117474
FFFFFFFFFFF
IIIIIIIIII
17
-1
3.3664606634298013
3.3664606634298013
FFFFFFFFFFF
IIIIIIIIII
19
-1
3.0127875041833403
3.0127875041833403
FFFFFFFFFFF
IIIIIIIIII
17
-1
3.3664606634298013
3.3664606634298013
FFFFFFFFFFF
IIIIIIIIII
17
-2
6.709836807756933
6.709836807756933
FFFFFFFFFFF
IIIIIIIIII
21
-2
5.440332031005506
5.440332031005506
FFFFFFFFFFF
IIIIIIIIII
16
-2
7.125016348901798
7.125016348901798
FFFFFFFFFFF
IIIIIIIIII
19
-2
6.009005957494525
6.009005957494525
FFFFFFFFFFF
IIIIIIIIII
18
-3
9.462322208025617
9.462322208025617
FFFFFFFFFFF
IIIIIIIIII
17
-3
10.007979801441337
10.007979801441337
FFFFFFFFFFF
IIIIIIIIII
17
-3
10.007979801441337
10.007979801441337
FFFFFFFFFFF
IIIIIIIIII
17
-3
10.007979801441337
10.007979801441337
FFFFFFFFFFF
IIIIIIIIII
17
-5
16.389540334034784
16.389540334034784
FFFFFFFFFFF
IIIIIIIIII
17
-9
27.89727103094763
27.89727103094763
FFFFFFFFFFF
IIIIIIIIII
14
-14
45.0
45.0
FFFFFFFFFFF
IIIIIIIIII
12
-14
49.39870535499554
49.39870535499554
FFFFFFFFFFF
IIIIIIIIII
11
-15
53.74616226255522
53.74616226255522
FFFFFFFFFFF
IIIIIIIIII
9
-12
53.13010235415598
53.13010235415598
FFFFFFFFFFF
IIIIIIIIII
10
-15
56.309932474020215
56.309932474020215
FFFFFFFFFFF
IIIIIIIIII
10
-14
54.46232220802562
54.46232220802562
FFFFFFFFFFF
IIIIIIIIII
10
-16
57.9946167919165
57.9946167919165
FFFFFFFFFFF
IIIIIIIIII
7
-13
61.69924423399363
61.69924423399363
FFFFFFFFFFF
IIIIIIIIII
8
-14
60.25511870305779
60.25511870305779
FFFFFFFFFFF
IIIIIIIIII
9
-15
59.03624346792648
59.03624346792648
FFFFFFFFFFF
IIIIIIIIII
7
-13
61.69924423399363
61.69924423399363
FFFFFFFFFFF
IIIIIIIIII
9
-16
60.64224645720873
60.64224645720873
FFFFFFFFFFF
IIIIIIIIII
9
-15
59.03624346792648
59.03624346792648
FFFFFFFFFFF
IIIIIIIIII
9
-15
59.03624346792648
59.03624346792648
FFFFFFFFFFF
IIIIIIIIII
8
-15
61.92751306414704
61.92751306414704
FFFFFFFFFFF
IIIIIIIIII
8
-15
61.92751306414704
61.92751306414704
FFFFFFFFFFF
IIIIIIIIII
9
-17
62.10272896905237
62.10272896905237
FFFFFFFFFFF
IIIIIIIIII
7
-15
64.98310652189998
64.98310652189998
FFFFFFFFFFF
IIIIIIIIII
8
-16
63.43494882292201
63.43494882292201
FFFFFFFFFFF
IIIIIIIIII
9
-17
62.10272896905237
62.10272896905237
FFFFFFFFFFF
IIIIIIIIII
8
-16
63.43494882292201
63.43494882292201
FFFFFFFFFFF
IIIIIIIIII
7
-14
63.43494882292201
63.43494882292201
FFFFFFFFFFF
IIIIIIIIII
5
-12
67.38013505195957
67.38013505195957
FFFFFFFFFFF
IIIIIIIIII
5
-11
65.55604521958347
65.55604521958347
FFFFFFFFFFF
IIIIIIIIII
8
-18
66.03751102542182
66.03751102542182
FFFFFFFFFFF
IIIIIIIIII
7
-16
66.37062226934319
66.37062226934319
FFFFFFFFFFF
IIIIIIIIII
7
-16
66.37062226934319
66.37062226934319
FFFFFFFFFFF
IIIIIIIIII
6
-16
69.44395478041653
69.44395478041653
FFFFFFFFFFF
IIIIIIIIII
7
-18
68.74949449286676
68.74949449286676
FFFFFFFFFFF
IIIIIIIIII
7
-15
64.98310652189998
64.98310652189998
FFFFFFFFFFF
IIIIIIIIII
5
-13
68.96248897457819
68.96248897457819
FFFFFFFFFFF
IIIIIIIIII
7
-16
66.37062226934319
66.37062226934319
FFFFFFFFFFF
IIIIIIIIII
3
-13
77.00538320808349
77.00538320808349
FFFFFFFFFFF
IIIIIIIIII
6
-16
69.44395478041653
69.44395478041653
FFFFFFFFFFF
IIIIIIIIII
7
-16
66.37062226934319
66.37062226934319
FFFFFFFFFFF
IIIIIIIIII
5
-12
67.38013505195957
67.38013505195957
FFFFFFFFFFF
IIIIIIIIII
8
-15
61.92751306414704
61.92751306414704
FFFFFFFFFFF
IIIIIIIIII
7
-16
66.37062226934319
66.37062226934319
FFFFFFFFFFF
IIIIIIIIII
7
-15
64.98310652189998
64.98310652189998
FFFFFFFFFFF
IIIIIIIIII
4
-13
72.89727103094764
72.89727103094764
FFFFFFFFFFF
IIIIIIIIII
4
-13
72.89727103094764
72.89727103094764
FFFFFFFFFFF
IIIIIIIIII
6
-16
69.44395478041653
69.44395478041653
FFFFFFFFFFF
IIIIIIIIII
5
-17
73.61045966596522
73.61045966596522
FFFFFFFFFFF
IIIIIIIIII
3
-14
77.9052429229879
77.9052429229879
FFFFFFFFFFF
IIIIIIIIII
-4
-13
107.10272896905236
107.10272896905236
FFFFFFFFFFF
IIIIIIIIII
-9
-14
122.73522627210761
122.73522627210761
FFFFFFFFFFF
IIIIIIIIII
-12
-15
128.6598082540901
128.6598082540901
FFFFFFFFFFF
IIIIIIIIII
-13
-14
132.87890360333853
132.87890360333853
FFFFFFFFFFF
IIIIIIIIII
-13
-13
135.0
135.0
FFFFFFFFFFF
IIIIIIIIII
-11
-11
135.0
135.0
FFFFFFFFFFF
IIIIIIIIII
-11
-11
135.0
135.0
FFFFFFFFFFF
IIIIIIIIII
-11
-11
135.0
135.0
FFFFFFFFFFF
IIIIIIIIII
-11
-11
135.0
135.0
FFFFFFFFFFF
IIIIIIIIII
-13
-12
137.29061004263855
137.29061004263855
FFFFFFFFFFF
IIIIIIIIII
-12
-13
132.70938995736148
132.70938995736148
FFFFFFFFFFF
IIIIIIIIII
-10
-12
129.8055710922652
129.8055710922652
FFFFFFFFFFF
IIIIIIIIII
-13
-13
135.0
135.0
FFFFFFFFFFF
IIIIIIIIII
-11
-12
132.51044707800085
132.51044707800085
FFFFFFFFFFF
IIIIIIIIII
-12
-14
130.6012946450045
130.6012946450045
FFFFFFFFFFF
IIIIIIIIII
-11
-14
128.15722658736905
128.15722658736905
FFFFFFFFFFF
IIIIIIIIII
-11
-14
128.15722658736905
128.15722658736905
FFFFFFFFFFF
IIIIIIIIII
-11
-13
130.2363583092738
130.2363583092738
FFFFFFFFFFF
IIIIIIIIII
-15
-17
131.42366562500266
131.42366562500266
FFFFFFFFFFF
IIIIIIIIII
-12
-15
128.6598082540901
128.6598082540901
FFFFFFFFFFF
IIIIIIIIII
-11
-15
126.2538377374448
126.2538377374448
FFFFFFFFFFF
IIIIIIIIII
-13
-16
129.0938588862295
129.0938588862295
FFFFFFFFFFF
IIIIIIIIII
-11
-16
124.50852298766841
124.50852298766841
FFFFFFFFFFF
IIIIIIIIII
-5
-15
108.43494882292202
108.43494882292202
FFFFFFFFFFF
IIIIIIIIII
-6
-17
109.44003482817618
109.44003482817618
FFFFFFFFFFF
IIIIIIIIII
-6
-16
110.55604521958347
110.55604521958347
FFFFFFFFFFF
IIIIIIIIII
-5
-16
107.35402463626133
107.35402463626133
FFFFFFFFFFF
IIIIIIIIII
-5
-16
107.35402463626133
107.35402463626133
FFFFFFFFFFF
IIIIIIIIII
-6
-16
110.55604521958347
110.55604521958347
FFFFFFFFFFF
IIIIIIIIII
-6
-16
110.55604521958347
110.55604521958347
FFFFFFFFFFF
IIIIIIIIII
-5
-15
108.43494882292202
108.43494882292202
FFFFFFFFFFF
IIIIIIIIII
-6
-16
110.55604521958347
110.55604521958347
FFFFFFFFFFF
IIIIIIIIII
-5
-15
108.43494882292202
108.43494882292202
FFFFFFFFFFF
IIIIIIIIII
-6
-17
109.44003482817618
109.44003482817618
FFFFFFFFFFF
IIIIIIIIII
-6
-17
109.44003482817618
109.44003482817618
FFFFFFFFFFF
IIIIIIIIII
-6
-15
111.80140948635182
111.80140948635182
FFFFFFFFFFF
IIIIIIIIII
-6
-15
111.80140948635182
111.80140948635182
FFFFFFFFFFF
IIIIIIIIII
-6
-16
110.55604521958347
110.55604521958347
FFFFFFFFFFF
IIIIIIIIII
-6
-15
111.80140948635182
111.80140948635182
FFFFFFFFFFF
IIIIIIIIII
-5
-15
108.43494882292202
108.43494882292202
FFFFFFFFFFF
IIIIIIIIII
-7
-16
113.62937773065681
113.62937773065681
FFFFFFFFFFF
IIIIIIIIII
-7
-16
113.62937773065681
113.62937773065681
FFFFFFFFFFF
IIIIIIIIII
-5
-14
109.65382405805332
109.65382405805332
FFFFFFFFFFF
IIIIIIIIII
-5
-14
109.65382405805332
109.65382405805332
FFFFFFFFFFF
IIIIIIIIII
-5
-15
108.43494882292202
108.43494882292202
FFFFFFFFFFF
IIIIIIIIII
-7
-18
111.25050550713324
111.25050550713324
FFFFFFFFFFF
IIIIIIIIII
-5
-14
109.65382405805332
109.65382405805332
FFFFFFFFFFF
IIIIIIIIII
-6
-17
109.44003482817618
109.44003482817618
FFFFFFFFFFF
IIIIIIIIII
-6
-16
110.55604521958347
110.55604521958347
FFFFFFFFFFF
IIIIIIIIII
-5
-19
104.74356283647074
104.74356283647074
FFFFFFFFFFF
IIIIIIIIII
-2
-16
97.12501634890181
97.12501634890181
FFFFFFFFFFF
IIIIIIIIII
1
-14
85.91438322002512
85.91438322002512
FFFFFFFFFFF
IIIIIIIIII
2
-17
83.29016319224307
83.29016319224307
FFFFFFFFFFF
IIIIIIIIII
2
-17
83.29016319224307
83.29016319224307
FFFFFFFFFFF
IIIIIIIIII
3
-18
80.53767779197439
80.53767779197439
FFFFFFFFFFF
IIIIIIIIII
4
-18
77.47119229084849
77.47119229084849
FFFFFFFFFFF
IIIIIIIIII
3
-15
78.69006752597979
78.69006752597979
FFFFFFFFFFF
IIIIIIIIII
3
-18
80.53767779197439
80.53767779197439
FFFFFFFFFFF
IIIIIIIIII
2
-17
83.29016319224307
83.29016319224307
FFFFFFFFFFF
IIIIIIIIII
2
-14
81.86989764584403
81.86989764584403
FFFFFFFFFFF
IIIIIIIIII
3
-20
81.46923439005188
81.46923439005188
FFFFFFFFFFF
IIIIIIIIII
2
-15
82.40535663140855
82.40535663140855
FFFFFFFFFFF
IIIIIIIIII
3
-13
77.00538320808349
77.00538320808349
FFFFFFFFFFF
IIIIIIIIII
3
-13
77.00538320808349
77.00538320808349
FFFFFFFFFFF
IIIIIIIIII
6
-18
71.56505117707799
71.56505117707799
FFFFFFFFFFF
IIIIIIIIII
4
-16
75.96375653207353
75.96375653207353
FFFFFFFFFFF
IIIIIIIIII
3
-16
79.38034472384487
79.38034472384487
FFFFFFFFFFF
IIIIIIIIII
2
-16
82.87498365109819
82.87498365109819
FFFFFFFFFFF
IIIIIIIIII
2
-16
82.87498365109819
82.87498365109819
FFFFFFFFFFF
IIIIIIIIII
2
-18
83.6598082540901
83.6598082540901
FFFFFFFFFFF
IIIIIIIIII
2
-18
83.6598082540901
83.6598082540901
FFFFFFFFFFF
IIIIIIIIII
3
-16
79.38034472384487
79.38034472384487
FFFFFFFFFFF
IIIIIIIIII
1
-18
86.82016988013577
86.82016988013577
FFFFFFFFFFF
IIIIIIIIII
0
-16
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
1
-18
86.82016988013577
86.82016988013577
FFFFFFFFFFF
IIIIIIIIII
1
-16
86.42366562500266
86.42366562500266
FFFFFFFFFFF
IIIIIIIIII
0
-17
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
1
-16
86.42366562500266
86.42366562500266
FFFFFFFFFFF
IIIIIIIIII
0
-18
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
0
-15
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
1
-18
86.82016988013577
86.82016988013577
FFFFFFFFFFF
IIIIIIIIII
1
-18
86.82016988013577
86.82016988013577
FFFFFFFFFFF
IIIIIIIIII
0
-16
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
0
-18
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
0
-20
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
0
-20
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
0
-19
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
0
-19
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
-1
-20
92.86240522611175
92.86240522611175
FFFFFFFFFFF
IIIIIIIIII
0
-18
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
0
-17
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
1
-16
86.42366562500266
86.42366562500266
FFFFFFFFFFF
IIIIIIIIII
0
-16
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
0
-16
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
-1
-13
94.39870535499553
94.39870535499553
FFFFFFFFFFF
IIIIIIIIII
0
-16
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
-1
-18
93.17983011986425
93.17983011986425
FFFFFFFFFFF
IIIIIIIIII
-2
-21
95.4403320310055
95.4403320310055
FFFFFFFFFFF
IIIIIIIIII
-1
-16
93.57633437499737
93.57633437499737
FFFFFFFFFFF
IIIIIIIIII
-2
-18
96.3401917459099
96.3401917459099
FFFFFFFFFFF
IIIIIIIIII
-2
-17
96.70983680775693
96.70983680775693
FFFFFFFFFFF
IIIIIIIIII
-2
-18
96.3401917459099
96.3401917459099
FFFFFFFFFFF
IIIIIIIIII
-2
-17
96.70983680775693
96.70983680775693
FFFFFFFFFFF
IIIIIIIIII
-1
-14
94.08561677997488
94.08561677997488
FFFFFFFFFFF
IIIIIIIIII
-1
-13
94.39870535499553
94.39870535499553
FFFFFFFFFFF
IIIIIIIIII
0
-15
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
0
-16
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
-1
-15
93.81407483429037
93.81407483429037
FFFFFFFFFFF
IIIIIIIIII
0
-14
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
1
-18
86.82016988013577
86.82016988013577
FFFFFFFFFFF
IIIIIIIIII
1
-16
86.42366562500266
86.42366562500266
FFFFFFFFFFF
IIIIIIIIII
2
-18
83.6598082540901
83.6598082540901
FFFFFFFFFFF
IIIIIIIIII
1
-16
86.42366562500266
86.42366562500266
FFFFFFFFFFF
IIIIIIIIII
1
-16
86.42366562500266
86.42366562500266
FFFFFFFFFFF
IIIIIIIIII
0
-16
90.0
90.0
FFFFFFFFFFF
IIIIIIIIII
-3
-19
98.9726266148964
98.9726266148964
FFFFFFFFFFF
IIIIIIIIII
-5
-18
105.52411099675426
105.52411099675426
FFFFFFFFFFF
IIIIIIIIII
-3
-15
101.30993247402021
101.30993247402021
FFFFFFFFFFF
IIIIIIIIII
-5
-17
106.38954033403479
106.38954033403479
FFFFFFFFFFF
IIIIIIIIII
-4
-16
104.0362434679265
104.0362434679265
FFFFFFFFFFF
IIIIIIIIII
-5
-18
105.52411099675426
105.52411099675426
FFFFFFFFFFF
IIIIIIIIII
-4
-16
104.0362434679265
104.0362434679265
FFFFFFFFFFF
IIIIIIIIII
-10
-17
120.46554491945989
120.46554491945989
FFFFFFFFFFF
IIIIIIIIII
-14
-8
150.25511870305778
150.25511870305778
FFFFFFFFFFF
IIIIIIIIII
-15
-3
168.6900675259798
168.6900675259798
FFFFFFFFFFF
IIIIIIIIII
-16
-2
172.8749836510982
172.8749836510982
FFFFFFFFFFF
IIIIIIIIII
-17
-1
176.63353933657018
176.63353933657018
FFFFFFFFFFF
IIIIIIIIII
-15
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-18
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-18
1
-176.82016988013578
-176.82016988013578
FFFFFFFFFFF
IIIIIIIIII
-20
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-18
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-19
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-15
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-18
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-18
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-15
1
-176.18592516570965
-176.18592516570965
FFFFFFFFFFF
IIIIIIIIII
-13
1
-175.6012946450045
-175.6012946450045
FFFFFFFFFFF
IIIIIIIIII
-13
1
-175.6012946450045
-175.6012946450045
FFFFFFFFFFF
IIIIIIIIII
-15
1
-176.18592516570965
-176.18592516570965
FFFFFFFFFFF
IIIIIIIIII
-16
1
-176.42366562500266
-176.42366562500266
FFFFFFFFFFF
IIIIIIIIII
-18
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-16
1
-176.42366562500266
-176.42366562500266
FFFFFFFFFFF
IIIIIIIIII
-16
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-16
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-15
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-13
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-15
0
180.0
180.0
FFFFFFFFFFF
IIIIIIIIII
-16
-1
176.42366562500266
176.42366562500266
FFFFFFFFFFF
IIIIIIIIII
-17
-1
176.63353933657018
176.63353933657018
FFFFFFFFFFF
IIIIIIIIII
-17
-2
173.29016319224309
173.29016319224309
FFFFFFFFFFF
IIIIIIIIII
-15
-2
172.40535663140858
172.40535663140858
FFFFFFFFFFF
IIIIIIIIII
-17
-2
173.29016319224309
173.29016319224309
FFFFFFFFFFF
IIIIIIIIII
-16
-1
176.42366562500266

<ipython-input-10-c226ecef3624>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["rotation"] = df_filtered["angle"].apply(calc_rotation)

In [11]:
df_filtered['abs_rotation'] = abs(df_filtered['rotation'])
df_filtered
#df_filtered['Btime'].iloc[0]

<ipython-input-11-96e2b6980db5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['abs_rotation'] = abs(df_filtered['rotation'])

,frame_number,length_of_fish,center_of_mass,fish_tail,fish_head,quadrant,fish_area,fish_id,tail_points,quad_coord,angle,rotation,abs_rotation
481,1261,14.142136,"(585, 582)","(565, 556)","(595, 592)",1,324.5,1,"[(588, 590), (581, 584), (573, 578), (565, 571...","(440, 426, 408, 444)","((595, 592), (581, 584))",-45.000000,45.000000
489,1262,14.212670,"(586, 583)","(565, 556)","(595, 594)",1,330.5,1,"[(588, 591), (581, 584), (573, 579), (565, 571...","(440, 426, 408, 444)","((595, 594), (581, 584))",-49.763642,49.763642
497,1263,14.212670,"(587, 584)","(568, 557)","(596, 595)",1,326.5,1,"[(589, 592), (581, 585), (573, 579), (565, 573...","(440, 426, 408, 444)","((596, 595), (581, 585))",-51.842773,51.842773
505,1264,14.422205,"(589, 584)","(569, 558)","(597, 596)",1,328.0,1,"[(590, 594), (582, 586), (574, 580), (566, 573...","(440, 426, 408, 444)","((597, 596), (582, 586))",-51.842773,51.842773
513,1265,13.453624,"(590, 586)","(570, 563)","(600, 595)",1,321.0,1,"[(590, 595), (584, 588), (577, 582), (571, 576...","(440, 426, 408, 444)","((600, 595), (584, 588))",-42.510447,42.510447
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4234,1737,15.652476,"(519, 828)","(488, 819)","(533, 835)",1,304.0,1,"[(832, 528), (828, 518), (824, 508), (822, 498...","(440, 426, 408, 444)","((533, 835), (828, 518))",-25.016893,25.016893
4240,1738,14.317821,"(524, 830)","(493, 822)","(537, 836)",1,294.0,1,"[(834, 533), (829, 523), (825, 513), (822, 503...","(440, 426, 408, 444)","((537, 836), (829, 523))",-26.565051,26.565051
4246,1739,14.317821,"(528, 831)","(498, 820)","(541, 837)",1,295.5,1,"[(834, 534), (830, 525), (825, 516), (821, 507...","(440, 426, 408, 444)","((541, 837), (830, 525))",-23.629378,23.629378
4252,1740,13.000000,"(533, 832)","(506, 823)","(545, 837)",1,281.5,1,"[(835, 542), (832, 533), (829, 524), (827, 515...","(440, 426, 408, 444)","((545, 837), (832, 533))",-22.619865,22.619865
4258,1741,14.560220,"(537, 832)","(507, 826)","(551, 836)",1,295.0,1,"[(833, 543), (831, 534), (829, 525), (829, 516...","(440, 426, 408, 444)","((551, 836), (831, 534))",-16.389540,16.389540

In [12]:
df_filtered[120:150]

,frame_number,length_of_fish,center_of_mass,fish_tail,fish_head,quadrant,fish_area,fish_id,tail_points,quad_coord,angle,rotation,abs_rotation
1440,1381,16.000000,"(769, 765)","(736, 766)","(785, 765)",1,325.5,1,"[(765, 776), (766, 766), (766, 756), (765, 746...","(440, 426, 408, 444)","((785, 765), (766, 766))",3.012788,3.012788
1448,1382,15.000000,"(771, 765)","(739, 764)","(786, 765)",1,323.5,1,"[(765, 779), (766, 769), (765, 759), (765, 749...","(440, 426, 408, 444)","((786, 765), (766, 769))",3.366461,3.366461
1456,1383,15.033296,"(773, 765)","(740, 765)","(788, 764)",1,329.5,1,"[(765, 781), (766, 771), (766, 761), (766, 751...","(440, 426, 408, 444)","((788, 764), (766, 771))",6.709837,6.709837
1464,1384,15.033296,"(775, 765)","(742, 767)","(790, 764)",1,324.0,1,"[(765, 778), (766, 769), (767, 760), (768, 751...","(440, 426, 408, 444)","((790, 764), (766, 769))",5.440332,5.440332
1472,1385,15.033296,"(776, 765)","(744, 769)","(791, 764)",1,317.0,1,"[(765, 785), (766, 775), (766, 765), (767, 755...","(440, 426, 408, 444)","((791, 764), (766, 775))",7.125016,7.125016
1480,1386,15.033296,"(778, 765)","(744, 768)","(793, 764)",1,321.0,1,"[(765, 784), (766, 774), (766, 764), (766, 754...","(440, 426, 408, 444)","((793, 764), (766, 774))",6.009006,6.009006
1488,1387,15.033296,"(780, 765)","(747, 765)","(795, 764)",1,323.0,1,"[(765, 787), (767, 777), (767, 767), (766, 757...","(440, 426, 408, 444)","((795, 764), (767, 777))",9.462322,9.462322
1496,1388,15.132746,"(782, 765)","(750, 767)","(797, 763)",1,326.5,1,"[(764, 790), (766, 780), (768, 770), (769, 760...","(440, 426, 408, 444)","((797, 763), (766, 780))",10.007980,10.007980
1504,1389,15.132746,"(784, 765)","(752, 770)","(799, 763)",1,325.0,1,"[(764, 792), (766, 782), (767, 772), (769, 762...","(440, 426, 408, 444)","((799, 763), (766, 782))",10.007980,10.007980
1512,1390,14.035669,"(787, 764)","(757, 769)","(801, 763)",1,315.5,1,"[(764, 793), (766, 784), (767, 775), (768, 766...","(440, 426, 408, 444)","((801, 763), (766, 784))",10.007980,10.007980
1520,1391,15.297059,"(788, 764)","(756, 769)","(803, 761)",1,329.0,1,"[(763, 796), (766, 786), (767, 776), (768, 766...","(440, 426, 408, 444)","((803, 761), (766, 786))",16.389540,16.389540
1528,1392,15.231546,"(790, 763)","(757, 767)","(804, 757)",1,329.5,1,"[(760, 797), (766, 787), (769, 777), (768, 767...","(440, 426, 408, 444)","((804, 757), (766, 787))",27.897271,27.897271
1536,1393,14.212670,"(792, 761)","(762, 768)","(803, 752)",1,331.5,1,"[(757, 797), (766, 789), (772, 780), (772, 771...","(440, 426, 408, 444)","((803, 752), (766, 789))",45.000000,45.000000
1544,1394,14.142136,"(793, 759)","(767, 774)","(803, 749)",1,324.0,1,"[(755, 797), (763, 791), (771, 784), (775, 776...","(440, 426, 408, 444)","((803, 749), (763, 791))",49.398705,49.398705
1552,1395,12.806248,"(794, 757)","(770, 778)","(802, 747)",1,322.0,1,"[(755, 797), (762, 791), (770, 786), (776, 778...","(440, 426, 408, 444)","((802, 747), (762, 791))",53.746162,53.746162
1560,1396,13.453624,"(795, 755)","(775, 780)","(804, 745)",1,326.0,1,"[(749, 800), (757, 795), (765, 789), (773, 782...","(440, 426, 408, 444)","((804, 745), (757, 795))",53.130102,53.130102
1568,1397,13.601471,"(796, 754)","(777, 779)","(804, 743)",1,320.5,1,"[(751, 798), (758, 794), (765, 789), (772, 783...","(440, 426, 408, 444)","((804, 743), (758, 794))",56.309932,56.309932
1576,1398,13.601471,"(797, 753)","(777, 777)","(805, 742)",1,316.5,1,"[(749, 799), (756, 795), (763, 791), (769, 785...","(440, 426, 408, 444)","((805, 742), (756, 795))",54.462322,54.462322
1584,1399,13.601471,"(797, 751)","(777, 777)","(805, 740)",1,327.5,1,"[(749, 799), (756, 795), (763, 791), (769, 785...","(440, 426, 408, 444)","((805, 740), (756, 795))",57.994617,57.994617
1592,1400,12.529964,"(799, 749)","(781, 775)","(805, 738)",1,321.0,1,"[(743, 802), (751, 798), (759, 794), (767, 788...","(440, 426, 408, 444)","((805, 738), (751, 798))",61.699244,61.699244
1600,1401,13.038405,"(799, 748)","(782, 775)","(806, 737)",1,321.0,1,"[(743, 802), (751, 798), (759, 793), (767, 788...","(440, 426, 408, 444)","((806, 737), (751, 798))",60.255119,60.255119
1608,1402,13.038405,"(800, 747)","(782, 775)","(807, 736)",1,323.0,1,"[(743, 802), (751, 798), (759, 793), (767, 788...","(440, 426, 408, 444)","((807, 736), (751, 798))",59.036243,59.036243
1616,1403,13.038405,"(801, 745)","(784, 772)","(808, 734)",1,322.5,1,"[(739, 805), (747, 801), (755, 795), (763, 789...","(440, 426, 408, 444)","((808, 734), (747, 801))",61.699244,61.699244
1624,1404,13.038405,"(801, 744)","(783, 771)","(808, 733)",1,320.0,1,"[(742, 803), (749, 799), (756, 795), (763, 789...","(440, 426, 408, 444)","((808, 733), (749, 799))",60.642246,60.642246
1633,1405,13.038405,"(802, 742)","(786, 768)","(809, 731)",1,314.0,1,"[(739, 804), (746, 800), (753, 796), (760, 793...","(440, 426, 408, 444)","((809, 731), (746, 800))",59.036243,59.036243
1641,1406,13.038405,"(803, 740)","(788, 769)","(810, 729)",1,315.5,1,"[(736, 805), (744, 801), (752, 797), (760, 793...","(440, 426, 408, 444)","((810, 729), (744, 801))",59.036243,59.036243
1649,1407,13.892444,"(803, 739)","(790, 767)","(810, 727)",1,314.0,1,"[(734, 806), (742, 802), (750, 797), (758, 793...","(440, 426, 408, 444)","((810, 727), (742, 802))",61.927513,61.927513
1657,1408,13.038405,"(804, 737)","(789, 766)","(811, 726)",1,322.5,1,"[(733, 806), (741, 803), (749, 798), (757, 793...","(440, 426, 408, 444)","((811, 726), (741, 803))",61.927513,61.927513
1665,1409,13.892444,"(804, 736)","(789, 765)","(811, 724)",1,312.5,1,"[(733, 806), (741, 802), (749, 797), (757, 792...","(440, 426, 408, 444)","((811, 724), (741, 802))",62.102729,62.102729
1673,1410,13.416408,"(805, 734)","(789, 762)","(811, 722)",1,311.5,1,"[(729, 807), (737, 804), (745, 799), (753, 794...","(440, 426, 408, 444)","((811, 722), (737, 804))",64.983107,64.983107

In [13]:
df_filtered['diff'] = abs(df_filtered['abs_rotation'] - df_filtered['abs_rotation'].shift(1))
df_filtered.iloc[70:110]

<ipython-input-13-e84ca8ab6558>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['diff'] = abs(df_filtered['abs_rotation'] - df_filtered['abs_rotation'].shift(1))

,frame_number,length_of_fish,center_of_mass,fish_tail,fish_head,quadrant,fish_area,fish_id,tail_points,quad_coord,angle,rotation,abs_rotation,diff
1040,1331,14.142136,"(710, 738)","(691, 712)","(720, 748)",1,319.5,1,"[(742, 715), (736, 707), (728, 699), (721, 693...","(440, 426, 408, 444)","((720, 748), (736, 707))",-42.709390,42.709390,7.054252
1048,1332,14.142136,"(711, 739)","(689, 715)","(721, 749)",1,319.5,1,"[(740, 712), (735, 705), (729, 698), (722, 691...","(440, 426, 408, 444)","((721, 749), (735, 705))",-41.185925,41.185925,1.523465
1056,1333,15.620499,"(710, 740)","(687, 716)","(722, 750)",1,323.5,1,"[(745, 716), (738, 708), (730, 700), (724, 692...","(440, 426, 408, 444)","((722, 750), (738, 708))",-40.601295,40.601295,0.584631
1064,1334,15.556349,"(711, 741)","(687, 716)","(722, 752)",1,323.0,1,"[(745, 716), (739, 708), (731, 700), (724, 692...","(440, 426, 408, 444)","((722, 752), (739, 708))",-42.878904,42.878904,2.277609
1072,1335,14.142136,"(713, 743)","(689, 721)","(723, 753)",1,322.5,1,"[(745, 715), (739, 708), (733, 702), (727, 695...","(440, 426, 408, 444)","((723, 753), (739, 708))",-43.025066,43.025066,0.146162
1080,1336,14.866069,"(712, 744)","(689, 720)","(723, 754)",1,319.0,1,"[(749, 719), (743, 711), (736, 704), (729, 696...","(440, 426, 408, 444)","((723, 754), (743, 711))",-42.510447,42.510447,0.514619
1088,1337,15.620499,"(712, 744)","(688, 721)","(724, 754)",1,325.0,1,"[(748, 717), (742, 709), (735, 701), (729, 693...","(440, 426, 408, 444)","((724, 754), (742, 709))",-38.659808,38.659808,3.850639
1096,1338,14.212670,"(713, 746)","(687, 725)","(724, 755)",1,326.5,1,"[(751, 719), (745, 711), (737, 703), (732, 695...","(440, 426, 408, 444)","((724, 755), (745, 711))",-37.568592,37.568592,1.091216
1104,1339,15.000000,"(713, 747)","(687, 725)","(725, 756)",1,333.5,1,"[(752, 719), (746, 711), (738, 703), (732, 695...","(440, 426, 408, 444)","((725, 756), (746, 711))",-35.537678,35.537678,2.030914
1112,1340,14.212670,"(714, 749)","(689, 726)","(725, 758)",1,327.0,1,"[(755, 721), (748, 713), (741, 705), (733, 697...","(440, 426, 408, 444)","((725, 758), (748, 713))",-39.805571,39.805571,4.267893
1120,1341,15.620499,"(714, 749)","(689, 727)","(726, 759)",1,327.5,1,"[(754, 720), (748, 712), (741, 704), (734, 696...","(440, 426, 408, 444)","((726, 759), (748, 712))",-38.157227,38.157227,1.648345
1128,1342,15.000000,"(715, 751)","(690, 729)","(727, 760)",1,326.5,1,"[(755, 721), (750, 713), (743, 705), (737, 697...","(440, 426, 408, 444)","((727, 760), (750, 713))",-35.537678,35.537678,2.619549
1136,1343,14.422205,"(717, 753)","(689, 732)","(729, 761)",1,326.0,1,"[(756, 721), (750, 713), (743, 705), (738, 697...","(440, 426, 408, 444)","((729, 761), (750, 713))",-34.508523,34.508523,1.029155
1144,1344,16.401219,"(717, 753)","(689, 734)","(730, 763)",1,324.0,1,"[(759, 725), (753, 716), (745, 707), (739, 698...","(440, 426, 408, 444)","((730, 763), (753, 716))",-35.537678,35.537678,1.029155
1152,1345,14.212670,"(719, 755)","(693, 735)","(730, 764)",1,324.5,1,"[(757, 722), (753, 715), (747, 708), (742, 701...","(440, 426, 408, 444)","((730, 764), (753, 715))",-36.253838,36.253838,0.716160
1160,1346,14.317821,"(721, 756)","(695, 736)","(734, 762)",1,326.0,1,"[(759, 729), (756, 720), (752, 711), (746, 702...","(440, 426, 408, 444)","((734, 762), (756, 720))",-23.198591,23.198591,13.055247
1168,1347,13.152946,"(723, 757)","(696, 741)","(736, 759)",1,323.5,1,"[(757, 728), (756, 719), (754, 710), (750, 701...","(440, 426, 408, 444)","((736, 759), (756, 719))",-10.007980,10.007980,13.190611
1176,1348,14.142136,"(724, 757)","(694, 747)","(738, 759)",1,332.5,1,"[(758, 734), (757, 724), (757, 714), (755, 704...","(440, 426, 408, 444)","((738, 759), (757, 724))",-8.130102,8.130102,1.877877
1184,1349,15.033296,"(725, 757)","(693, 752)","(740, 758)",1,325.0,1,"[(758, 729), (758, 720), (757, 711), (756, 702...","(440, 426, 408, 444)","((740, 758), (758, 720))",0.000000,0.000000,8.130102
1192,1350,15.000000,"(727, 758)","(695, 755)","(742, 758)",1,318.5,1,"[(758, 735), (758, 725), (758, 715), (757, 705...","(440, 426, 408, 444)","((742, 758), (758, 725))",0.000000,0.000000,0.000000
1200,1351,16.031220,"(728, 758)","(695, 756)","(744, 759)",1,328.0,1,"[(759, 739), (758, 728), (758, 717), (757, 706...","(440, 426, 408, 444)","((744, 759), (758, 728))",-3.576334,3.576334,3.576334
1208,1352,16.031220,"(729, 758)","(695, 756)","(745, 759)",1,326.0,1,"[(758, 735), (759, 725), (758, 715), (757, 705...","(440, 426, 408, 444)","((745, 759), (759, 725))",0.000000,0.000000,3.576334
1216,1353,15.033296,"(731, 758)","(699, 756)","(746, 759)",1,327.5,1,"[(758, 739), (759, 729), (759, 719), (758, 709...","(440, 426, 408, 444)","((746, 759), (759, 729))",0.000000,0.000000,0.000000
1224,1354,15.000000,"(732, 759)","(699, 758)","(747, 759)",1,318.0,1,"[(759, 743), (759, 732), (759, 721), (759, 710...","(440, 426, 408, 444)","((747, 759), (759, 732))",0.000000,0.000000,0.000000
1232,1355,15.000000,"(734, 759)","(702, 760)","(749, 759)",1,331.0,1,"[(759, 742), (760, 732), (758, 722), (758, 712...","(440, 426, 408, 444)","((749, 759), (760, 732))",3.366461,3.366461,3.366461
1240,1356,15.000000,"(735, 760)","(703, 758)","(750, 760)",1,328.5,1,"[(760, 744), (760, 734), (759, 724), (758, 714...","(440, 426, 408, 444)","((750, 760), (760, 734))",0.000000,0.000000,3.366461
1248,1357,15.000000,"(737, 760)","(704, 757)","(752, 760)",1,330.5,1,"[(760, 748), (760, 737), (760, 726), (759, 715...","(440, 426, 408, 444)","((752, 760), (760, 737))",0.000000,0.000000,0.000000
1256,1358,16.000000,"(737, 760)","(703, 758)","(753, 760)",1,333.5,1,"[(760, 743), (760, 733), (761, 723), (760, 713...","(440, 426, 408, 444)","((753, 760), (760, 733))",0.000000,0.000000,0.000000
1264,1359,15.033296,"(740, 760)","(707, 761)","(755, 761)",1,324.0,1,"[(760, 747), (761, 737), (760, 727), (761, 717...","(440, 426, 408, 444)","((755, 761), (761, 737))",0.000000,0.000000,0.000000
1272,1360,15.000000,"(742, 761)","(710, 761)","(757, 761)",1,315.0,1,"[(762, 754), (761, 743), (761, 732), (760, 721...","(440, 426, 408, 444)","((757, 761), (761, 743))",0.000000,0.000000,0.000000
1280,1361,16.000000,"(742, 761)","(708, 760)","(758, 761)",1,328.5,1,"[(761, 752), (761, 741), (760, 730), (759, 719...","(440, 426, 408, 444)","((758, 761), (761, 741))",0.000000,0.000000,0.000000
1288,1362,15.000000,"(744, 761)","(711, 759)","(759, 761)",1,324.5,1,"[(761, 751), (761, 741), (761, 731), (760, 721...","(440, 426, 408, 444)","((759, 761), (761, 741))",0.000000,0.000000,0.000000
1296,1363,15.000000,"(745, 761)","(712, 760)","(760, 761)",1,324.5,1,"[(761, 752), (761, 742), (761, 732), (761, 722...","(440, 426, 408, 444)","((760, 761), (761, 742))",0.000000,0.000000,0.000000
1304,1364,16.031220,"(745, 761)","(712, 761)","(761, 762)",1,324.5,1,"[(761, 752), (761, 742), (761, 732), (761, 722...","(440, 426, 408, 444)","((761, 762), (761, 742))",-3.012788,3.012788,3.012788
1312,1365,15.033296,"(748, 762)","(716, 759)","(763, 763)",1,307.5,1,"[(762, 756), (762, 746), (760, 736), (759, 726...","(440, 426, 408, 444)","((763, 763), (762, 746))",-3.366461,3.366461,0.353673
1320,1366,15.132746,"(749, 762)","(717, 758)","(764, 764)",1,320.5,1,"[(763, 761), (762, 750), (761, 739), (759, 728...","(440, 426, 408, 444)","((764, 764), (762, 750))",-8.130102,8.130102,4.763642
1328,1367,16.124515,"(750, 762)","(716, 757)","(766, 764)",1,338.5,1,"[(763, 760), (762, 749), (761, 738), (759, 727...","(440, 426, 408, 444)","((766, 764), (762, 749))",-6.709837,6.709837,1.420266
1336,1368,15.033296,"(752, 763)","(719, 758)","(767, 764)",1,330.5,1,"[(763, 759), (763, 749), (762, 739), (761, 729...","(440, 426, 408, 444)","((767, 764), (763, 749))",-3.179830,3.179830,3.530007
1344,1369,15.033296,"(754, 763)","(721, 760)","(769, 764)",1,329.5,1,"[(763, 761), (763, 751), (763, 741), (762, 731...","(440, 426, 408, 444)","((769, 764), (763, 751))",-3.179830,3.179830,0.000000
1352,1370,15.033296,"(756, 763)","(723, 762)","(771, 764)",1,323.5,1,"[(763, 763), (764, 753), (763, 743), (762, 733...","(440, 426, 408, 444)","((771, 764), (764, 753))",0.000000,0.000000,3.179830

In [14]:
df_filtered

,frame_number,length_of_fish,center_of_mass,fish_tail,fish_head,quadrant,fish_area,fish_id,tail_points,quad_coord,angle,rotation,abs_rotation,diff
481,1261,14.142136,"(585, 582)","(565, 556)","(595, 592)",1,324.5,1,"[(588, 590), (581, 584), (573, 578), (565, 571...","(440, 426, 408, 444)","((595, 592), (581, 584))",-45.000000,45.000000,NaN
489,1262,14.212670,"(586, 583)","(565, 556)","(595, 594)",1,330.5,1,"[(588, 591), (581, 584), (573, 579), (565, 571...","(440, 426, 408, 444)","((595, 594), (581, 584))",-49.763642,49.763642,4.763642
497,1263,14.212670,"(587, 584)","(568, 557)","(596, 595)",1,326.5,1,"[(589, 592), (581, 585), (573, 579), (565, 573...","(440, 426, 408, 444)","((596, 595), (581, 585))",-51.842773,51.842773,2.079132
505,1264,14.422205,"(589, 584)","(569, 558)","(597, 596)",1,328.0,1,"[(590, 594), (582, 586), (574, 580), (566, 573...","(440, 426, 408, 444)","((597, 596), (582, 586))",-51.842773,51.842773,0.000000
513,1265,13.453624,"(590, 586)","(570, 563)","(600, 595)",1,321.0,1,"[(590, 595), (584, 588), (577, 582), (571, 576...","(440, 426, 408, 444)","((600, 595), (584, 588))",-42.510447,42.510447,9.332326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4234,1737,15.652476,"(519, 828)","(488, 819)","(533, 835)",1,304.0,1,"[(832, 528), (828, 518), (824, 508), (822, 498...","(440, 426, 408, 444)","((533, 835), (828, 518))",-25.016893,25.016893,0.241753
4240,1738,14.317821,"(524, 830)","(493, 822)","(537, 836)",1,294.0,1,"[(834, 533), (829, 523), (825, 513), (822, 503...","(440, 426, 408, 444)","((537, 836), (829, 523))",-26.565051,26.565051,1.548158
4246,1739,14.317821,"(528, 831)","(498, 820)","(541, 837)",1,295.5,1,"[(834, 534), (830, 525), (825, 516), (821, 507...","(440, 426, 408, 444)","((541, 837), (830, 525))",-23.629378,23.629378,2.935673
4252,1740,13.000000,"(533, 832)","(506, 823)","(545, 837)",1,281.5,1,"[(835, 542), (832, 533), (829, 524), (827, 515...","(440, 426, 408, 444)","((545, 837), (832, 533))",-22.619865,22.619865,1.009513
4258,1741,14.560220,"(537, 832)","(507, 826)","(551, 836)",1,295.0,1,"[(833, 543), (831, 534), (829, 525), (829, 516...","(440, 426, 408, 444)","((551, 836), (831, 534))",-16.389540,16.389540,6.230325

In [15]:
#for i in range(1, len(df_filtered)):
#df_filtered['displacement'].iloc[1] = 100 #((df_filtered.loc[i, 'fish_head'][0] - df_filtered.loc[i-1, 'fish_head'][0])**2 + (df_filtered.loc[i, 'fish_head'][1] - df_filtered.loc[i-1, 'fish_head'][1])**2)**0.5
    #((x1 - x2)**2 + (y1 - y2)**2)**0.5
    
#df_filtered['displacement'] = (df_filtered["fish_head"][0] - df_filtered.quadrant)

In [16]:
df_filtered.loc[df_filtered.index[0], 'fish_head'][0]

595

In [17]:
df_filtered.tail(30)
df_filtered["displace"] = np.NAN

#df_filtered.loc[df_filtered.index[i-1], 'fish_head']

for i in range(1, len(df_filtered)):    
    df_filtered.loc[df_filtered.index[i], 'displace'] = ((df_filtered.loc[df_filtered.index[i], 'center_of_mass'][0] - df_filtered.loc[df_filtered.index[i-1], 'center_of_mass'][0])**2 \
        + (df_filtered.loc[df_filtered.index[i], 'center_of_mass'][1] - df_filtered.loc[df_filtered.index[i-1], 'center_of_mass'][1])**2)**0.5

<ipython-input-17-f361fc675bfc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["displace"] = np.NAN
c:\Users\marcio\Miniconda3\envs\medaka_env\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [18]:
#df_filtered.iloc[60:90]
df_filtered.head(30)

,frame_number,length_of_fish,center_of_mass,fish_tail,fish_head,quadrant,fish_area,fish_id,tail_points,quad_coord,angle,rotation,abs_rotation,diff,displace
481,1261,14.142136,"(585, 582)","(565, 556)","(595, 592)",1,324.5,1,"[(588, 590), (581, 584), (573, 578), (565, 571...","(440, 426, 408, 444)","((595, 592), (581, 584))",-45.000000,45.000000,NaN,NaN
489,1262,14.212670,"(586, 583)","(565, 556)","(595, 594)",1,330.5,1,"[(588, 591), (581, 584), (573, 579), (565, 571...","(440, 426, 408, 444)","((595, 594), (581, 584))",-49.763642,49.763642,4.763642,1.414214
497,1263,14.212670,"(587, 584)","(568, 557)","(596, 595)",1,326.5,1,"[(589, 592), (581, 585), (573, 579), (565, 573...","(440, 426, 408, 444)","((596, 595), (581, 585))",-51.842773,51.842773,2.079132,1.414214
505,1264,14.422205,"(589, 584)","(569, 558)","(597, 596)",1,328.0,1,"[(590, 594), (582, 586), (574, 580), (566, 573...","(440, 426, 408, 444)","((597, 596), (582, 586))",-51.842773,51.842773,0.000000,2.000000
513,1265,13.453624,"(590, 586)","(570, 563)","(600, 595)",1,321.0,1,"[(590, 595), (584, 588), (577, 582), (571, 576...","(440, 426, 408, 444)","((600, 595), (584, 588))",-42.510447,42.510447,9.332326,2.236068
521,1266,14.866069,"(591, 585)","(568, 562)","(601, 596)",1,328.5,1,"[(592, 597), (584, 589), (576, 583), (570, 575...","(440, 426, 408, 444)","((601, 596), (584, 589))",-45.000000,45.000000,2.489553,1.414214
529,1267,14.866069,"(592, 586)","(569, 563)","(602, 597)",1,333.0,1,"[(592, 597), (585, 590), (577, 584), (569, 577...","(440, 426, 408, 444)","((602, 597), (585, 590))",-45.000000,45.000000,0.000000,1.414214
537,1268,14.142136,"(594, 588)","(573, 562)","(604, 598)",1,331.0,1,"[(593, 600), (586, 592), (578, 585), (570, 579...","(440, 426, 408, 444)","((604, 598), (586, 592))",-45.000000,45.000000,0.000000,2.828427
545,1269,14.866069,"(596, 588)","(574, 563)","(607, 598)",1,331.5,1,"[(593, 601), (586, 593), (578, 585), (571, 578...","(440, 426, 408, 444)","((607, 598), (586, 593))",-40.601295,40.601295,4.398705,2.000000
553,1270,14.866069,"(597, 589)","(573, 567)","(608, 599)",1,325.0,1,"[(593, 602), (587, 595), (580, 588), (575, 581...","(440, 426, 408, 444)","((608, 599), (587, 595))",-42.709390,42.709390,2.108095,1.414214
561,1271,15.556349,"(599, 590)","(573, 568)","(610, 601)",1,331.0,1,"[(595, 604), (587, 596), (579, 589), (572, 581...","(440, 426, 408, 444)","((610, 601), (587, 596))",-45.000000,45.000000,2.290610,2.236068
569,1272,14.866069,"(601, 592)","(578, 568)","(612, 602)",1,330.0,1,"[(597, 607), (590, 599), (582, 592), (574, 585...","(440, 426, 408, 444)","((612, 602), (590, 599))",-42.709390,42.709390,2.290610,2.828427
577,1273,14.866069,"(603, 593)","(582, 569)","(613, 604)",1,326.0,1,"[(596, 607), (590, 600), (583, 593), (577, 586...","(440, 426, 408, 444)","((613, 604), (590, 600))",-47.121096,47.121096,4.411706,2.236068
585,1274,14.866069,"(606, 594)","(581, 572)","(617, 604)",1,338.5,1,"[(599, 611), (592, 603), (586, 596), (580, 588...","(440, 426, 408, 444)","((617, 604), (592, 603))",-40.601295,40.601295,6.519802,3.162278
593,1275,14.212670,"(608, 596)","(583, 577)","(619, 605)",1,328.0,1,"[(599, 611), (593, 604), (586, 598), (581, 591...","(440, 426, 408, 444)","((619, 605), (593, 604))",-38.659808,38.659808,1.941486,2.828427
601,1276,13.453624,"(610, 598)","(585, 576)","(620, 607)",1,333.5,1,"[(600, 612), (594, 605), (587, 599), (580, 592...","(440, 426, 408, 444)","((620, 607), (594, 605))",-40.914383,40.914383,2.254575,2.828427
609,1277,14.866069,"(611, 599)","(588, 576)","(622, 609)",1,325.0,1,"[(601, 614), (596, 607), (589, 601), (583, 594...","(440, 426, 408, 444)","((622, 609), (596, 607))",-40.914383,40.914383,0.000000,1.414214
617,1278,14.866069,"(614, 600)","(588, 579)","(625, 610)",1,330.0,1,"[(605, 619), (599, 611), (591, 603), (586, 595...","(440, 426, 408, 444)","((625, 610), (599, 611))",-38.157227,38.157227,2.757157,3.162278
625,1279,14.866069,"(615, 602)","(588, 583)","(626, 612)",1,330.0,1,"[(606, 619), (598, 611), (591, 604), (585, 596...","(440, 426, 408, 444)","((626, 612), (598, 611))",-43.025066,43.025066,4.867839,2.236068
633,1280,15.556349,"(617, 604)","(594, 583)","(628, 615)",1,328.5,1,"[(608, 621), (602, 614), (595, 609), (588, 602...","(440, 426, 408, 444)","((628, 615), (602, 614))",-42.878904,42.878904,0.146162,2.828427
641,1281,15.556349,"(619, 606)","(596, 581)","(630, 617)",1,335.0,1,"[(611, 625), (605, 617), (597, 610), (589, 602...","(440, 426, 408, 444)","((630, 617), (605, 617))",-42.709390,42.709390,0.169514,2.828427
649,1282,14.866069,"(622, 608)","(597, 586)","(633, 618)",1,331.5,1,"[(615, 629), (607, 621), (600, 614), (595, 606...","(440, 426, 408, 444)","((633, 618), (607, 621))",-42.510447,42.510447,0.198943,3.605551
657,1283,15.556349,"(624, 610)","(598, 589)","(635, 621)",1,327.0,1,"[(615, 628), (607, 621), (599, 614), (593, 606...","(440, 426, 408, 444)","((635, 621), (607, 621))",-45.000000,45.000000,2.489553,2.828427
665,1284,14.866069,"(627, 613)","(604, 589)","(637, 624)",1,329.5,1,"[(616, 629), (609, 622), (602, 617), (595, 611...","(440, 426, 408, 444)","((637, 624), (609, 622))",-45.000000,45.000000,0.000000,4.242641
673,1285,14.142136,"(629, 616)","(608, 592)","(639, 626)",1,332.0,1,"[(621, 636), (615, 628), (607, 621), (600, 613...","(440, 426, 408, 444)","((639, 626), (615, 628))",-45.000000,45.000000,0.000000,3.605551
681,1286,14.866069,"(632, 618)","(608, 596)","(643, 628)",1,337.0,1,"[(625, 639), (618, 632), (610, 624), (603, 616...","(440, 426, 408, 444)","((643, 628), (618, 632))",-42.273689,42.273689,2.726311,3.605551
689,1287,14.866069,"(635, 621)","(610, 599)","(645, 632)",1,335.0,1,"[(626, 640), (618, 632), (610, 626), (602, 618...","(440, 426, 408, 444)","((645, 632), (618, 632))",-47.121096,47.121096,4.847407,4.242641
697,1288,14.866069,"(638, 623)","(616, 599)","(648, 634)",1,332.5,1,"[(629, 643), (622, 636), (614, 630), (606, 623...","(440, 426, 408, 444)","((648, 634), (622, 636))",-45.000000,45.000000,2.121096,3.605551
705,1289,14.866069,"(641, 626)","(619, 601)","(651, 637)",1,331.0,1,"[(630, 645), (623, 637), (616, 630), (609, 623...","(440, 426, 408, 444)","((651, 637), (623, 637))",-45.000000,45.000000,0.000000,4.242641
713,1290,14.866069,"(644, 629)","(620, 607)","(654, 640)",1,333.5,1,"[(632, 647), (625, 640), (618, 634), (613, 627...","(440, 426, 408, 444)","((654, 640), (625, 640))",-46.974934,46.974934,1.974934,4.242641

In [19]:
df_filtered["sequence"] = np.NAN
sequence_number = 1
for i in range(1, len(df_filtered)):
    if (df_filtered.loc[df_filtered.index[i], 'diff'] < 5) & (df_filtered.loc[df_filtered.index[i], 'displace'] > 2):
        print("yes")
        df_filtered.loc[df_filtered.index[i], 'sequence'] = sequence_number
    else:
        print("no")
        sequence_number = sequence_number + 1

<ipython-input-19-c76f1fce7f75>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["sequence"] = np.NAN
c:\Users\marcio\Miniconda3\envs\medaka_env\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

no
no
no
no
no
no
yes
no
no
yes
yes
yes
no
yes
yes
no
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
no
yes
yes
yes
yes
yes
no
yes
yes
yes
yes
yes
yes
yes
yes
no
no
no
no
no
no
no
no
yes
no
no
no
no
yes
no
no
no
no
yes
no
no
yes
no
yes
no
yes
yes
no
yes
no
no
no
no
yes
no
no
no
no
no
no
no
no
yes
yes
no
no
no
no
yes
no
no
yes
no
no
no
no
no
no
no
no
yes
no
no
yes
no
no
no
no
no
no
no
no
no
yes
no
no
no
yes
yes
yes
no
no
no
yes
no
no
yes
no
yes
yes
no
yes
no
yes
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
yes
yes
yes
no
no
no
yes
yes
no
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
no
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
no
yes
yes
no
yes
no
yes
no
no
no
no
no
yes
yes
yes
yes
yes
no
yes
no
no
yes
no
no
no
yes
no
yes
yes
no
yes
no
no
no
no
yes
no
yes
no
yes
no
no
no
no
yes
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
yes
no
yes
no
yes
yes
yes
yes
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
yes
no
no
yes
yes
no
yes
no
yes
no
no
no
no
yes
no
yes
yes
no
yes
yes
no
yes
yes
yes
yes
no
yes
yes
no
no
yes
yes
yes
yes
yes
no
no
no
no
no
no
no
no
no
no
no
no
yes
yes
yes
no
no
no
no
yes
no
yes
no
no
yes
no
yes
yes
no
no
no
no
yes
yes
no
yes
yes
yes
yes
yes
yes
yes
yes
yes
no
yes
yes
yes
yes
yes
no
no
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
no
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
no
no
yes
yes
yes
no
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
no
yes
no
no
no
no
yes
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
yes
yes
no
no
no
no
yes
yes
yes
yes
yes
yes
yes
no

In [20]:
df_filtered.head(30)

,frame_number,length_of_fish,center_of_mass,fish_tail,fish_head,quadrant,fish_area,fish_id,tail_points,quad_coord,angle,rotation,abs_rotation,diff,displace,sequence
481,1261,14.142136,"(585, 582)","(565, 556)","(595, 592)",1,324.5,1,"[(588, 590), (581, 584), (573, 578), (565, 571...","(440, 426, 408, 444)","((595, 592), (581, 584))",-45.000000,45.000000,NaN,NaN,NaN
489,1262,14.212670,"(586, 583)","(565, 556)","(595, 594)",1,330.5,1,"[(588, 591), (581, 584), (573, 579), (565, 571...","(440, 426, 408, 444)","((595, 594), (581, 584))",-49.763642,49.763642,4.763642,1.414214,NaN
497,1263,14.212670,"(587, 584)","(568, 557)","(596, 595)",1,326.5,1,"[(589, 592), (581, 585), (573, 579), (565, 573...","(440, 426, 408, 444)","((596, 595), (581, 585))",-51.842773,51.842773,2.079132,1.414214,NaN
505,1264,14.422205,"(589, 584)","(569, 558)","(597, 596)",1,328.0,1,"[(590, 594), (582, 586), (574, 580), (566, 573...","(440, 426, 408, 444)","((597, 596), (582, 586))",-51.842773,51.842773,0.000000,2.000000,NaN
513,1265,13.453624,"(590, 586)","(570, 563)","(600, 595)",1,321.0,1,"[(590, 595), (584, 588), (577, 582), (571, 576...","(440, 426, 408, 444)","((600, 595), (584, 588))",-42.510447,42.510447,9.332326,2.236068,NaN
521,1266,14.866069,"(591, 585)","(568, 562)","(601, 596)",1,328.5,1,"[(592, 597), (584, 589), (576, 583), (570, 575...","(440, 426, 408, 444)","((601, 596), (584, 589))",-45.000000,45.000000,2.489553,1.414214,NaN
529,1267,14.866069,"(592, 586)","(569, 563)","(602, 597)",1,333.0,1,"[(592, 597), (585, 590), (577, 584), (569, 577...","(440, 426, 408, 444)","((602, 597), (585, 590))",-45.000000,45.000000,0.000000,1.414214,NaN
537,1268,14.142136,"(594, 588)","(573, 562)","(604, 598)",1,331.0,1,"[(593, 600), (586, 592), (578, 585), (570, 579...","(440, 426, 408, 444)","((604, 598), (586, 592))",-45.000000,45.000000,0.000000,2.828427,7.0
545,1269,14.866069,"(596, 588)","(574, 563)","(607, 598)",1,331.5,1,"[(593, 601), (586, 593), (578, 585), (571, 578...","(440, 426, 408, 444)","((607, 598), (586, 593))",-40.601295,40.601295,4.398705,2.000000,NaN
553,1270,14.866069,"(597, 589)","(573, 567)","(608, 599)",1,325.0,1,"[(593, 602), (587, 595), (580, 588), (575, 581...","(440, 426, 408, 444)","((608, 599), (587, 595))",-42.709390,42.709390,2.108095,1.414214,NaN
561,1271,15.556349,"(599, 590)","(573, 568)","(610, 601)",1,331.0,1,"[(595, 604), (587, 596), (579, 589), (572, 581...","(440, 426, 408, 444)","((610, 601), (587, 596))",-45.000000,45.000000,2.290610,2.236068,9.0
569,1272,14.866069,"(601, 592)","(578, 568)","(612, 602)",1,330.0,1,"[(597, 607), (590, 599), (582, 592), (574, 585...","(440, 426, 408, 444)","((612, 602), (590, 599))",-42.709390,42.709390,2.290610,2.828427,9.0
577,1273,14.866069,"(603, 593)","(582, 569)","(613, 604)",1,326.0,1,"[(596, 607), (590, 600), (583, 593), (577, 586...","(440, 426, 408, 444)","((613, 604), (590, 600))",-47.121096,47.121096,4.411706,2.236068,9.0
585,1274,14.866069,"(606, 594)","(581, 572)","(617, 604)",1,338.5,1,"[(599, 611), (592, 603), (586, 596), (580, 588...","(440, 426, 408, 444)","((617, 604), (592, 603))",-40.601295,40.601295,6.519802,3.162278,NaN
593,1275,14.212670,"(608, 596)","(583, 577)","(619, 605)",1,328.0,1,"[(599, 611), (593, 604), (586, 598), (581, 591...","(440, 426, 408, 444)","((619, 605), (593, 604))",-38.659808,38.659808,1.941486,2.828427,10.0
601,1276,13.453624,"(610, 598)","(585, 576)","(620, 607)",1,333.5,1,"[(600, 612), (594, 605), (587, 599), (580, 592...","(440, 426, 408, 444)","((620, 607), (594, 605))",-40.914383,40.914383,2.254575,2.828427,10.0
609,1277,14.866069,"(611, 599)","(588, 576)","(622, 609)",1,325.0,1,"[(601, 614), (596, 607), (589, 601), (583, 594...","(440, 426, 408, 444)","((622, 609), (596, 607))",-40.914383,40.914383,0.000000,1.414214,NaN
617,1278,14.866069,"(614, 600)","(588, 579)","(625, 610)",1,330.0,1,"[(605, 619), (599, 611), (591, 603), (586, 595...","(440, 426, 408, 444)","((625, 610), (599, 611))",-38.157227,38.157227,2.757157,3.162278,11.0
625,1279,14.866069,"(615, 602)","(588, 583)","(626, 612)",1,330.0,1,"[(606, 619), (598, 611), (591, 604), (585, 596...","(440, 426, 408, 444)","((626, 612), (598, 611))",-43.025066,43.025066,4.867839,2.236068,11.0
633,1280,15.556349,"(617, 604)","(594, 583)","(628, 615)",1,328.5,1,"[(608, 621), (602, 614), (595, 609), (588, 602...","(440, 426, 408, 444)","((628, 615), (602, 614))",-42.878904,42.878904,0.146162,2.828427,11.0
641,1281,15.556349,"(619, 606)","(596, 581)","(630, 617)",1,335.0,1,"[(611, 625), (605, 617), (597, 610), (589, 602...","(440, 426, 408, 444)","((630, 617), (605, 617))",-42.709390,42.709390,0.169514,2.828427,11.0
649,1282,14.866069,"(622, 608)","(597, 586)","(633, 618)",1,331.5,1,"[(615, 629), (607, 621), (600, 614), (595, 606...","(440, 426, 408, 444)","((633, 618), (607, 621))",-42.510447,42.510447,0.198943,3.605551,11.0
657,1283,15.556349,"(624, 610)","(598, 589)","(635, 621)",1,327.0,1,"[(615, 628), (607, 621), (599, 614), (593, 606...","(440, 426, 408, 444)","((635, 621), (607, 621))",-45.000000,45.000000,2.489553,2.828427,11.0
665,1284,14.866069,"(627, 613)","(604, 589)","(637, 624)",1,329.5,1,"[(616, 629), (609, 622), (602, 617), (595, 611...","(440, 426, 408, 444)","((637, 624), (609, 622))",-45.000000,45.000000,0.000000,4.242641,11.0
673,1285,14.142136,"(629, 616)","(608, 592)","(639, 626)",1,332.0,1,"[(621, 636), (615, 628), (607, 621), (600, 613...","(440, 426, 408, 444)","((639, 626), (615, 628))",-45.000000,45.000000,0.000000,3.605551,11.0
681,1286,14.866069,"(632, 618)","(608, 596)","(643, 628)",1,337.0,1,"[(625, 639), (618, 632), (610, 624), (603, 616...","(440, 426, 408, 444)","((643, 628), (618, 632))",-42.273689,42.273689,2.726311,3.605551,11.0
689,1287,14.866069,"(635, 621)","(610, 599)","(645, 632)",1,335.0,1,"[(626, 640), (618, 632), (610, 626), (602, 618...","(440, 426, 408, 444)","((645, 632), (618, 632))",-47.121096,47.121096,4.847407,4.242641,11.0
697,1288,14.866069,"(638, 623)","(616, 599)","(648, 634)",1,332.5,1,"[(629, 643), (622, 636), (614, 630), (606, 623...","(440, 426, 408, 444)","((648, 634), (622, 636))",-45.000000,45.000000,2.121096,3.605551,11.0
705,1289,14.866069,"(641, 626)","(619, 601)","(651, 637)",1,331.0,1,"[(630, 645), (623, 637), (616, 630), (609, 623...","(440, 426, 408, 444)","((651, 637), (623, 637))",-45.000000,45.000000,0.000000,4.242641,11.0
713,1290,14.866069,"(644, 629)","(620, 607)","(654, 640)",1,333.5,1,"[(632, 647), (625, 640), (618, 634), (613, 627...","(440, 426, 408, 444)","((654, 640), (625, 640))",-46.974934,46.974934,1.974934,4.242641,11.0

In [21]:
count_df = df_filtered.groupby('sequence')['sequence'].count()
#count_df = count_df.to_frame()
#l = count_df.index.tolist()
count_df
#l

sequence
7.0       1
9.0       3
10.0      2
11.0     24
12.0      5
         ..
223.0     1
227.0     1
232.0     1
243.0     2
247.0     7
Name: sequence, Length: 76, dtype: int64

In [22]:
filtered_count = count_df[count_df > 7]

In [23]:
filtered_count

sequence
11.0     24
13.0      8
114.0    10
115.0    16
215.0     9
218.0    14
219.0    11
222.0    19
Name: sequence, dtype: int64

In [24]:
filtered_count = filtered_count.index.tolist()

In [25]:
filtered_count = set(filtered_count)

In [26]:
final_df = df_filtered[df_filtered['sequence'].isin(filtered_count)]

In [27]:
final_df

,frame_number,length_of_fish,center_of_mass,fish_tail,fish_head,quadrant,fish_area,fish_id,tail_points,quad_coord,angle,rotation,abs_rotation,diff,displace,sequence
617,1278,14.866069,"(614, 600)","(588, 579)","(625, 610)",1,330.0,1,"[(605, 619), (599, 611), (591, 603), (586, 595...","(440, 426, 408, 444)","((625, 610), (599, 611))",-38.157227,38.157227,2.757157,3.162278,11.0
625,1279,14.866069,"(615, 602)","(588, 583)","(626, 612)",1,330.0,1,"[(606, 619), (598, 611), (591, 604), (585, 596...","(440, 426, 408, 444)","((626, 612), (598, 611))",-43.025066,43.025066,4.867839,2.236068,11.0
633,1280,15.556349,"(617, 604)","(594, 583)","(628, 615)",1,328.5,1,"[(608, 621), (602, 614), (595, 609), (588, 602...","(440, 426, 408, 444)","((628, 615), (602, 614))",-42.878904,42.878904,0.146162,2.828427,11.0
641,1281,15.556349,"(619, 606)","(596, 581)","(630, 617)",1,335.0,1,"[(611, 625), (605, 617), (597, 610), (589, 602...","(440, 426, 408, 444)","((630, 617), (605, 617))",-42.709390,42.709390,0.169514,2.828427,11.0
649,1282,14.866069,"(622, 608)","(597, 586)","(633, 618)",1,331.5,1,"[(615, 629), (607, 621), (600, 614), (595, 606...","(440, 426, 408, 444)","((633, 618), (607, 621))",-42.510447,42.510447,0.198943,3.605551,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3935,1699,16.124515,"(481, 794)","(485, 761)","(479, 810)",1,322.5,1,"[(805, 480), (794, 481), (783, 483), (772, 485...","(440, 426, 408, 444)","((479, 810), (794, 481))",-97.125016,97.125016,0.000000,3.162278,222.0
3943,1700,16.124515,"(480, 797)","(485, 765)","(478, 813)",1,322.5,1,"[(806, 479), (796, 481), (786, 482), (776, 484...","(440, 426, 408, 444)","((478, 813), (796, 481))",-100.007980,100.007980,2.882963,3.162278,222.0
3949,1701,16.124515,"(479, 799)","(485, 767)","(477, 815)",1,317.5,1,"[(807, 479), (797, 480), (787, 482), (777, 483...","(440, 426, 408, 444)","((477, 815), (797, 480))",-99.462322,99.462322,0.545658,2.236068,222.0
3957,1702,16.278821,"(479, 802)","(484, 769)","(476, 818)",1,329.5,1,"[(813, 478), (802, 479), (791, 481), (780, 482...","(440, 426, 408, 444)","((476, 818), (802, 479))",-100.619655,100.619655,1.157333,3.000000,222.0
3965,1703,15.033296,"(478, 805)","(481, 772)","(477, 820)",1,315.0,1,"[(813, 478), (803, 479), (793, 480), (783, 481...","(440, 426, 408, 444)","((477, 820), (803, 479))",-96.709837,96.709837,3.909818,3.162278,222.0

In [28]:
#frames_numbers = set(final_df['frame_number'])
#frames_numbers

frames_numbers = pd.Series(final_df.center_of_mass.values,index=final_df.frame_number).to_dict()

In [29]:


# Check if camera opened successfully
import cv2
cap = cv2.VideoCapture('C:/Users/marcio/Videos/Ian_videos/20191121_1454_iCab_L_C.avi')
final_frame = int(cap.get(cv2.CAP_PROP_FRAME_COUNT))

if (cap.isOpened()== False): 
  print("Error opening video stream or file")


frame_n = 0
cv2.waitKey(0)

   
# Read until video is completed
for idx_frame in range(0,final_frame,1):  
  if idx_frame in frames_numbers:  
    print(idx_frame)

      
    
    cap.set(1, idx_frame)
    
    # Capture frame-by-frame
    ret, frame = cap.read()
    if ret == True:
      # Display the resulting frame
          cv2.rectangle(frame, (frames_numbers[idx_frame][0]-30,frames_numbers[idx_frame][1]-30), (frames_numbers[idx_frame][0]+30, frames_numbers[idx_frame][1]+30), (36,255,12), 2)
          cv2.imshow('Frame', frame)

          cv2.waitKey(500)
          #cv2.destroyAllWindows()          
          frame_n +=1
    
          
          
          
      # Press Q on keyboard to exit
          if cv2.waitKey(25) & 0xFF == ord('q'):
    
              break
    else:
      print("no frames 1")
      break
      
      
# Break the loop if no frame is retrieved
  else:
    #print("no frames 2")
    continue
  
  
cv2.destroyAllWindows()

1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1309
1310
1311
1312
1313
1314
1315
1316
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1636
1637
1638
1639
1640
1641
1642
1643
1644
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700